.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
}

.confirmation-card {
    text-align: center;
    padding: 2em;
    background: rgba(255, 255, 255, 0.247);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #4CAF50;
}