<div [id]="id" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <a class="carousel-control-prev no-dotted" type="button" [attr.data-bs-target]="'#'+id" data-bs-slide="prev">
            <span class="gg-arrow-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <button *ngFor="let el of eventListFilter; let i=index;" type="button" [attr.data-bs-target]="'#'+id"
            [attr.data-bs-slide-to]="i" [ngClass]="!i ? 'active' : '' " aria-current="true"
            [attr.aria-label]="el.t_title"></button>

        <a class="carousel-control-next no-dotted" type="button" [attr.data-bs-target]="'#'+id" data-bs-slide="next">
            <span class="gg-arrow-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <div class="carousel-inner">
        <div *ngFor="let el of eventListFilter; let i=index;" class="carousel-item" [ngClass]="!i ? 'active' : '' ">
            <img [attr.src]="el.t_image_link" class="d-block w-100" [attr.alt]="el.t_title">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{el.t_title}}</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
    </div>

</div>