<div class="container p-3">
    <div class="d-flex flex-row" style="gap:10px">
        <div class="sidebar-container rounded col-4 d-none d-lg-block">
            <ul class="sidebar vh-100 list-unstyled p-3 rounded">
                <h2 [ngClass]="activeMenu === 'account' ? 'text-danger' : null " class="pointer"
                    (click)="scrollTo('account')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        style="margin-bottom: 5px;" class="bi bi-person-circle mx-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <span>Gestione Account</span>
                </h2>
                <h2 [ngClass]="activeMenu === 'privacy' ? 'text-danger' : null " class="pointer"
                    (click)="scrollTo('privacy')">
                    <svg style="margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" class="bi bi-lock-fill mx-2" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                    </svg>
                    <span>Privacy</span>
                </h2>
                <h2 [ngClass]="activeMenu === 'notification' ? 'text-danger' : null " class="pointer"
                    (click)="scrollTo('notification')">
                    <svg style="margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" class="bi bi-bell-fill mx-2" viewBox="0 0 16 16">
                        <path
                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901" />
                    </svg>
                    <span>Notifiche e notifiche push</span>
                </h2>
                <h2 [ngClass]="activeMenu === 'artist' ? 'text-danger' : null " class="pointer"
                    (click)="scrollTo('artist')">
                    <svg style="margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" class="bi bi-person-workspace mx-2" viewBox="0 0 16 16">
                        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                        <path
                            d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z" />
                    </svg>
                    <span>Account Artista</span>
                </h2>
                <h2 [ngClass]="activeMenu === 'help' ? 'text-danger' : null " class="pointer"
                    (click)="scrollTo('help')">
                    <svg style="margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" class="bi bi-person-workspace mx-2" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                    </svg>
                    <span>Aiuto e Risorse</span>
                </h2>
            </ul>
        </div>
        <div #scrollContainer class="settings-content rounded d-block col-12 col-lg-8 p-4">
            <div id="account">
                <h2>Gestione Account</h2>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <h3>Elimina l'account</h3>
                        <h3 class="text-danger pointer" (click)="executeAction('delete')">Elimina</h3>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-3">
            <div id="privacy">
                <h2>Privacy</h2>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column">
                            <h3 class="m-0 mb-2">Account privato</h3>
                            <h5 class="text-secondary">Con un account privato, solo gli utenti che approvi possono
                                seguirti e vedere i tuoi video. La modifica non avrà impatto sui follower già esistenti.
                            </h5>
                        </div>
                        <div class="pointer"
                            (click)="settings.privacy.visibility.private_account = !settings.privacy.visibility.private_account">
                            <ng-container *ngIf="!settings.privacy.visibility.private_account">
                                <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="settings.privacy.visibility.private_account">
                                <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                            </ng-container>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column">
                            <h3 class="m-0 mb-2">Mostra preferiti</h3>
                            <h5 class="text-secondary">Abilitando la funzionalità, tutti gli utenti potranno
                                visualizzare i tuoi contenuti preferiti</h5>
                        </div>
                        <div class="pointer"
                            (click)="settings.privacy.visibility.show_booked = !settings.privacy.visibility.show_booked">
                            <ng-container *ngIf="!settings.privacy.visibility.show_booked">
                                <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="settings.privacy.visibility.show_booked">
                                <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column">
                            <h3 class="m-0 mb-2">Messaggi</h3>
                            <h5 class="text-secondary">Tutti gli utenti possono mandarti messaggi</h5>
                        </div>
                        <div class="pointer"
                            (click)="settings.privacy.messages.all_user_send_message = !settings.privacy.messages.all_user_send_message">
                            <ng-container *ngIf="!settings.privacy.messages.all_user_send_message">
                                <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="settings.privacy.messages.all_user_send_message">
                                <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column">
                            <h3 class="m-0 mb-2">Dati</h3>
                            <h5 class="text-secondary">Scarica i tuoi dati</h5>
                        </div>
                        <svg (click)="executeAction('data')" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                            fill="gray" class="bi bi-chevron-right pointer" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-3">
            <div id="notification">
                <h2>Notifiche e notifiche push</h2>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column">
                            <h3 class="m-0 mb-2">Notifiche desktop</h3>
                            <h5 class="text-secondary">Consenti nel browser</h5>
                        </div>
                        <div class="pointer"
                            (click)="settings.notification.desktop.browser_consent = !settings.notification.desktop.browser_consent">
                            <ng-container *ngIf="!settings.notification.desktop.browser_consent">
                                <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="settings.notification.desktop.browser_consent">
                                <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h3>Interazioni</h3>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Mi piace</h3>
                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.like = !settings.notification.interaction.like">
                                <ng-container *ngIf="!settings.notification.interaction.like">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.like">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Commenti</h3>
                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.comments = !settings.notification.interaction.comments">
                                <ng-container *ngIf="!settings.notification.interaction.comments">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.comments">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Menzioni e tag</h3>
                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.tag= !settings.notification.interaction.tag">
                                <ng-container *ngIf="!settings.notification.interaction.tag">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.tag">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Richieste di nuovi follower</h3>
                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.new_follower_request= !settings.notification.interaction.new_follower_request">
                                <ng-container *ngIf="!settings.notification.interaction.new_follower_request">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.new_follower_request">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Suggerimenti follower</h3>
                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.follower_suggest = !settings.notification.interaction.follower_suggest">
                                <ng-container *ngIf="!settings.notification.interaction.follower_suggest">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.follower_suggest">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Termini e condizioni</h3>

                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.terms_and_condition = !settings.notification.interaction.terms_and_condition">
                                <ng-container *ngIf="!settings.notification.interaction.terms_and_condition">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.terms_and_condition">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Pagamenti</h3>

                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.payments = !settings.notification.interaction.payments">
                                <ng-container *ngIf="!settings.notification.interaction.payments">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.payments">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column">
                                <h3 class="m-0 mb-2">Tickets</h3>
                            </div>
                            <div class="pointer"
                                (click)="settings.notification.interaction.tickets = !settings.notification.interaction.tickets">
                                <ng-container *ngIf="!settings.notification.interaction.tickets">
                                    <ng-container *ngTemplateOutlet="toggle_off"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="settings.notification.interaction.tickets">
                                    <ng-container *ngTemplateOutlet="toggle_on"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-3">
            <div id="artist">
                <h2>Account Artista</h2>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <h3 class="text-secondary m-0">Fai richiesta</h3>
                        <button (click)="executeAction('artist')" class="btn btn-sm btn-danger mb-2">Verifica</button>
                    </div>
                    <h5 class="text-secondary">Accedi agli strumenti e alle funzionalità esclusive tramite il tuo
                        account artista per connetterti meglio con gli spettatori.</h5>
                </div>
            </div>
            <hr class="m-0 mb-3">
            <div id="help">
                <h2>Aiuto e Risorse</h2>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between">
                        <h3 class="text-secondary">Tutto il supporto di cui hai bisogno</h3>
                        <svg (click)="executeAction('help')" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            fill="currentColor" class="bi bi-box-arrow-up-right pointer" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                            <path fill-rule="evenodd"
                                d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #toggle_off>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="gray" class="bi bi-toggle-off"
            viewBox="0 0 16 16">
            <path
                d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5" />
        </svg>
    </ng-template>
    <ng-template #toggle_on>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-toggle-on"
            viewBox="0 0 16 16">
            <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8" />
        </svg>
    </ng-template>
</div>

<div *ngIf="showDeleteAccountPanel" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Eliminazione account</h2>
            <span style="font-size:38px;" class="pointer" (click)="cancelDeleteAccount()"
                aria-hidden="true">&times;</span>
        </div>
        <div style="overflow-y: auto;">
            <div class="mb-3">
                <span>Il tuo account verrà disattivato per</span>
                <b> 30 giorni</b>
                <span> e non sarà visibile al pubblico. Durante la disattivazione, puoi riattivare il tuo account in
                    qualsiasi momento. </span>
                <span>Dopo </span>
                <b> 30 giorni</b>
                <span>, il tuo account e i tuoi dati verranno eliminati definitivamente.</span>
            </div>
            <div>Se elimini il tuo account:</div>
            <ul style="list-style: outside none disc;">
                <li>Non potrai più accedere e utilizzare alcun servizio Unievent con quell'account</li>
                <li>Perderai l'accesso a tutti i tuoi contenuti</li>
                <li>Le informazioni che non sono memorizzate nel tuo account, come i messaggi diretti,
                    potrebbero essere ancora visibili agli altri</li>
                <li>Le informazioni che non sono archiviate sui server Unievent, come le bozze, verranno
                    rimosse. Non sarai in grado di scaricare tali informazioni dopo aver eliminato il tuo account.
                </li>
                <li>Non potrai ottenere un rimborso per gli articoli acquistati o ricevuti.</li>
            </ul>
            <div class="mb-4">Vuoi continuare?</div>
        </div>
        <form (submit)="deleteAccount()">
            <div class="form-group">
                <div class="d-flex flex-row justify-content-end">
                    <button class="btn btn-secondary btn-sm" type="button"
                        (click)="cancelDeleteAccount()">Annulla</button>
                    <button class="btn btn-color-primary text-white btn-sm" type="submit">Conferma</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div *ngIf="showDataDownloadPanel" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Scarica i tuoi dati memorizzati su Unievent</h2>
            <span style="font-size:38px;" class="pointer" (click)="closeDownloadPanel()"
                aria-hidden="true">&times;</span>
        </div>
        <div style="overflow-y: auto;">
            <div class="mx-4 mt-4 type-buttons d-flex mb-4">
                <span class="menuEl pointer py-2 col-6" [class.active]="selectedOption === 'Request'"
                    (click)="changeOption('Request')">Richiedi i tuoi dati</span>
                <span class="menuEl mr-4 pointer py-2 col-6" [class.active]="selectedOption === 'Download'"
                    (click)="changeOption('Download')">Scarica i tuoi dati</span>
            </div>
        </div>
        <div class="p-2 px-4" *ngIf="selectedOption === 'Request'">
            <div>
                <div class="mb-3"> Puoi richiedere una copia dei tuoi dati in qualsiasi momento per eseguire il backup
                    del tuo account o esportarlo su altri servizi.</div>
                <div>
                    <h2>Seleziona i dati da scaricare</h2>
                    <div role="radiogroup" aria-labelledby="data-options">
                        <div class="mb-3">
                            <label>
                                <input [(ngModel)]="optionValue" [disabled]="isRequested || isDataAvailable"
                                    class="pointer" type="radio" name="data-option" value="all" checked>
                                <span class="mx-2 pointer">Tutti i dati</span>
                            </label>
                            <h5 class="text-secondary">Scarica tutte le informazioni disponibili associate al tuo
                                account. Questo file includerà più dati rispetto a quelli selezionati dalle opzioni
                                personalizzate.</h5>
                        </div>
                        <div class="mb-3">
                            <label>
                                <input [(ngModel)]="optionValue" [disabled]="isRequested || isDataAvailable"
                                    class="pointer" type="radio" name="data-option" value="custom">
                                <span class="mx-2 pointer">Personalizzato</span>
                            </label>
                            <h5 class="text-secondary">Scegli quali informazioni desideri includere nel tuo file.</h5>
                            <div *ngIf="optionValue === 'custom'" class="d-flex flex-row">
                                <label>
                                    <input type="checkbox" [(ngModel)]="chatChecked" [disabled]="isRequested || isDataAvailable" class="pointer" name="chat-option" value="Chat">
                                    <span class="mx-2 pointer">Chat</span>
                                </label>
                                <label>
                                    <input type="checkbox" [(ngModel)]="contentChecked" [disabled]="isRequested || isDataAvailable" class="pointer" name="content-option" value="Contenuti">
                                    <span class="mx-2 pointer">Contenuti</span>
                                </label>
                                <label>
                                    <input type="checkbox" [(ngModel)]="favoritesChecked" [disabled]="isRequested || isDataAvailable" class="pointer" name="favorites-option" value="Preferiti">
                                    <span class="mx-2 pointer">Preferiti</span>
                                </label>
                                <label>
                                    <input type="checkbox" [(ngModel)]="interactionsChecked" [disabled]="isRequested || isDataAvailable" class="pointer" name="interactions-option" value="Interazioni">
                                    <span class="mx-2 pointer">Interazioni</span>
                                </label>
                            </div>
                            
                            <!--Aggiungere checkbox di selezione-->
                        </div>
                    </div>

                    <h2>Seleziona il formato del file</h2>
                    <div role="radiogroup" aria-labelledby="data-formats">
                        <div class="mb-3">
                            <label>
                                <input [(ngModel)]="formatValue" [disabled]="isRequested || isDataAvailable"
                                    class="pointer" type="radio" name="data-format" value="TXT" checked>
                                <span class="mx-2 pointer">TXT</span>
                            </label>
                            <h5 class="text-secondary">File
                                di testo leggibile</h5>
                        </div>
                        <div class="mb-3">
                            <label>
                                <input [(ngModel)]="formatValue" [disabled]="isRequested || isDataAvailable"
                                    class="pointer" type="radio" name="data-format" value="JSON">
                                <span class="mx-2 pointer">JSON</span>
                            </label>
                            <h5 class="text-secondary">Consente ad altri servizi di importare il tuo file</h5>
                        </div>
                    </div>
                </div>
            </div>
            <form (submit)="sendDownloadDataRequest()">
                <div class="form-group">
                    <div class="d-flex flex-row justify-content-end">
                        <button [disabled]="isRequested || isDataAvailable"
                            class="btn btn-color-primary text-white btn-sm" type="submit">Richiedi</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="p-4" *ngIf="selectedOption === 'Download'">
            <div class="text-center mb-5">
                <svg *ngIf="!isRequested" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                    class="bi bi-download mb-2" viewBox="0 0 16 16">
                    <path
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                    <path
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                </svg>
                <svg *ngIf="isRequested" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                    class="bi bi-stopwatch mb-2" viewBox="0 0 16 16">
                    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z" />
                    <path
                        d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3" />
                </svg>
                <h3 *ngIf="!isDataAvailable && !isRequested" class="m-0">Ancora nessuna richiesta</h3>
                <h5 *ngIf="!isDataAvailable && !isRequested" class="m-0 text-secondary">Avvia una richiesta per
                    scaricare i dati</h5>
                <h3 *ngIf="!isDataAvailable && isRequested" class="m-0">I tuoi dati sono stati richiesti</h3>
                <h5 *ngIf="!isDataAvailable && isRequested" class="m-0 text-secondary">Stiamo elaborando i tuoi dati,
                    appena pronti riceverai una notifica</h5>
                <h3 *ngIf="isDataAvailable" class="m-0">I tuoi dati sono pronti</h3>
                <h5 *ngIf="isDataAvailable" class="m-0 text-secondary">Clicca sul pulsante in basso per scaricare i dati
                </h5>
            </div>
            <form>
                <div class="form-group">
                    <div class="d-flex flex-row justify-content-end">
                        <button (click)="sendDownloadDataRequest()" *ngIf="isDataAvailable"
                            class="btn btn-color-primary text-white btn-sm" type="submit">Scarica</button>
                        <button (click)="sendDownloadDataRequest()" *ngIf="!isDataAvailable"
                            class="btn btn-color-primary text-white btn-sm" type="submit"
                            [disabled]="isRequested">Richiedi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>