<div class="container p-3">
    <div style="min-height: calc(100vh - 120px);" class="rounded privacy-policy-container p-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <header>
                <h1>Privacy Policy</h1>
            </header>
            <section>
                <p class="text-secondary">Ultimo aggiornamento: 1 gennaio 2024</p>
                <p class="text-secondary">Questa Informativa sulla Privacy descrive come il Social Network ("noi", "ci" o "nostro") raccoglie,
                    utilizza e condivide informazioni su di te attraverso il nostro sito web e le applicazioni mobili.
                </p>
                <h2>Informazioni che raccogliamo</h2>
                <p class="text-secondary">Raccogliamo informazioni che ci fornisci direttamente, come il tuo nome, indirizzo email e
                    informazioni
                    sul profilo. Raccogliamo anche informazioni automaticamente quando utilizzi i nostri servizi.</p>
                <h2>Come utilizziamo le tue informazioni</h2>
                <p class="text-secondary">Utilizziamo le informazioni che raccogliamo per fornire, mantenere e migliorare i nostri servizi, per
                    comunicare con te e per personalizzare la tua esperienza. Possiamo anche utilizzare le tue
                    informazioni
                    per inviarti messaggi promozionali.</p>
                <h2>Condivisione delle informazioni</h2>
                <p class="text-secondary">Possiamo condividere le tue informazioni con fornitori di servizi terzi che ci aiutano a gestire i
                    nostri
                    servizi e con terze parti per scopi pubblicitari e di analisi.</p>
                <h2>Sicurezza</h2>
                <p class="text-secondary">Adottiamo misure ragionevoli per proteggere le tue informazioni da perdite, furto, uso improprio e
                    accesso, divulgazione, alterazione e distruzione non autorizzati.</p>
                <h2>Le tue scelte</h2>
                <p class="text-secondary">Puoi controllare e gestire le impostazioni del tuo account e le preferenze. Puoi anche scegliere di
                    non
                    ricevere comunicazioni promozionali da noi.</p>
                <h2>Modifiche a questa politica</h2>
                <p class="text-secondary">Possiamo aggiornare questa Informativa sulla Privacy di volta in volta. Se apportiamo modifiche
                    sostanziali, ti informeremo via email o pubblicheremo un avviso sul nostro sito web.</p>
                <h2>Contattaci</h2>
                <p class="text-secondary">Se hai domande su questa Informativa sulla Privacy, contattaci all'indirizzo
                    privacy@socialnetwork.com.
                </p>
                <p>Contatti: privacy@unievent.com</p>
            </section>
        </div>
    </div>
</div>