
.btn-color, .btn-color:active {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

.btn-color:hover {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}