.form-select:focus {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.input-w-icon {
    background-color: #d32e2a !important;
    color: white !important;
    width: 50px;
    text-align: center;
    justify-content: center;
}

.form-control:focus {
    box-shadow: 0.1rem 0 0.1rem 0.1rem #d32e2a !important; 
    border-color: #d32e2a !important;
    border-right: 0px !important;
}