<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
<section class="page_404">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Sembra che tu ti sia perso
                        </h3>
                        <p>la pagina ricercata non è disponibile!</p>
                        <a href="" class="link_404 text-event-color-primary">Torna indietro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>