<form [formGroup]="form" *ngIf="form" class="row d-block m-0 p-0">
    <div class="input-group form-group mb-4">
        <span [ngClass]="dynamicClass['t_username']" class="input-group-text input-w-icon"><i
                class="gg-user"></i></span>
        <input formControlName="t_username" id="t_username" type="text" class="form-control" placeholder="username"
            name="username" (focus)="addFocusClass('t_username')" (focusout)="removeFocusClass('t_username')">
    </div>
    <div class="form-group">
        <button (click)="forgot()" class="btn float-right login_btn">Recupera</button>
    </div>
</form>