.form-check-input:checked{
    width: 1.4rem; 
    height: 1.4rem; 
    background-color: #d32e2a!important;
    border-color: #d32e2a!important;
}

.form-check-input{
    width: 1.4rem; 
    height: 1.4rem; 
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
}

.form-step-1-container{
    background: var(--bs-light);
}

::ng-deep .bg-dark-mode .form-step-1-container{
    background: #2e363e;
    color: var(--bs-white);
}