<unievent-event-poster (onBuy)="goToDetailSection()"></unievent-event-poster>
<div style="background: #e5e5e5;">
    <div class="container mb-3" style="background:#f9fafb">
        <section data-c="orderhotline" class="c-lower container hidden-xs">
            <div class="un-important-paragraph theme-text-color">Call Center TicketOne 892.101 // LU-VE: 8-21; SA:
                9-17,30;
                DO:
                chiuso
                <img class="vertical-middle p-3"
                    src="https://www.ticketone.it/obj/media/IT-eventim/specialLogos/checkoutApp/call-center_logo_IT.png"
                    alt="Hotline Logo">
            </div>
        </section>
        <a href="https://www.paypal.com/it/webapps/mpp/paga-in-3-rate" class="display-block js-track-ext js-track-promo"
            title="" data-action="Banner" data-label="1" data-teaser-id="" data-teaser-name="Pay Pal 2023"
            data-view-id="T42028" target="_blank">
            <picture>
                <img src="https://www.ticketone.it/obj/media/IT-eventim/teaser/evo/additional-content/add_PayPal_2023_V2.svg"
                    data-src="https://www.ticketone.it/obj/media/IT-eventim/teaser/evo/additional-content/add_PayPal_2023_V2.svg"
                    class="fluid-image lazyloaded p-3" alt="Pay Pal 2023">
            </picture>

        </a>
        <unievent-event-list (onGoToBuyTicket)="goToBuyTicket($event)" id="#detail"></unievent-event-list>
    </div>
</div>