<div class="container p-3">
    <div style="min-height: calc(100vh - 120px);" class="rounded data-processing-container p-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <header>
                <h1>Termini e Condizioni</h1>
            </header>
            <section>
                <p class="text-secondary">Ultimo aggiornamento: 1 gennaio 2024</p>
                <p class="text-secondary">Leggi attentamente i seguenti Termini e Condizioni ("Termini") prima di
                    utilizzare il Social Network
                    ("noi", "ci" o "nostro"). Utilizzando il nostro sito web o le nostre applicazioni mobili, accetti di
                    rispettare questi Termini.</p>
                <h2>Account Utente</h2>
                <ul class="text-secondary">
                    <li>Devi avere almeno 18 anni per creare un account utente.</li>
                    <li>Se ci fornisci informazioni false o non veritiere, possiamo sospendere o cancellare il tuo
                        account.</li>
                    <li>Sei responsabile della sicurezza e della riservatezza del tuo account e della password.</li>
                </ul>
                <h2>Contenuti Utente</h2>
                <p class="text-secondary">Sei responsabile dei contenuti che pubblichi sul Social Network. Non pubblicare contenuti
                    diffamatori, offensivi o illegali. Ci riserviamo il diritto di rimuovere contenuti che riteniamo
                    inappropriati.</p>
                <h2>Proprietà Intellettuale</h2>
                <p class="text-secondary">Tutti i diritti di proprietà intellettuale sul Social Network e sui suoi contenuti sono di nostra
                    proprietà o concessi in licenza da terzi. Non puoi utilizzare il nostro marchio, logo o contenuti
                    senza il nostro consenso.</p>
                <h2>Limitazione di Responsabilità</h2>
                <p class="text-secondary">Non siamo responsabili per eventuali danni diretti, indiretti, speciali o consequenziali derivanti
                    dall'utilizzo del Social Network o dalla mancata disponibilità dei nostri servizi.</p>
                <h2>Modifiche ai Termini</h2>
                <p class="text-secondary">Possiamo aggiornare questi Termini di volta in volta. Ti informeremo delle modifiche sostanziali via
                    email o pubblicando un avviso sul nostro sito web.</p>
                <h2>Contattaci</h2>
                <p class="text-secondary">Se hai domande su questi Termini e Condizioni, contattaci all'indirizzo legal@unievent.com.</p>
            </section>
        </div>
    </div>
</div>