<div class="container py-5">
    <mat-stepper class="shadow" headerPosition="top" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Consegna</ng-template>
                <unievent-payment-step1-form></unievent-payment-step1-form>
                <div class="py-3 d-flex justify-content-end mt-4">
                    <button class="btn btn-primary btn-color-no-hover rounded-0" mat-button
                        matStepperNext>Avanti</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Pagamento</ng-template>
                <div class="container d-flex flex-column mb-5">
                    <h1>Metodo di pagamento</h1>
                    <unievent-payment-step2-payment-method-form></unievent-payment-step2-payment-method-form>
                    <div class="text-secondary mt-4"
                        *ngIf="addressList.length > 0 && paymentMethodStep2FormComponent?.contrassegnoSelected === 'Carta di credito'">
                        Lista carte di credito
                    </div>
                    <div class="text-secondary mt-4"
                        *ngIf="addressList.length <= 0 && paymentMethodStep2FormComponent?.contrassegnoSelected === 'Carta di credito'">
                        Nessuna carta di credito presente
                    </div>
                    <span
                        *ngIf="!isShowCreditCard && paymentMethodStep2FormComponent?.contrassegnoSelected === 'Carta di credito'"
                        class="add-card mt-4 pointer" (click)="isShowCreditCard = !isShowCreditCard">Aggiungi carta di
                        credito</span>
                    <div class="mt-4"
                        *ngIf="paymentMethodStep2FormComponent?.contrassegnoSelected === 'Carta di credito' && isShowCreditCard">
                        <div>
                            <h1>Aggiungi carta di credito</h1>
                            <div class="d-flex flex-row" style="gap:30px">
                                <form (ngSubmit)="addCreditCard()" class="w-100 card-form p-3" #creditCardForm="ngForm">
                                    <div class="form-group mb-2">
                                        <label for="cardName">Nome sulla carta</label>
                                        <input type="text" class="form-control border-0 card-input" id="cardName"
                                            name="cardName" required [(ngModel)]="creditCard.cardName">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="cardNumber">Numero carta di credito</label>
                                        <input type="text" class="form-control border-0 card-input" id="cardNumber"
                                            name="cardNumber" required [(ngModel)]="creditCard.cardNumber">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="expiryDate">Data di scadenza</label>
                                        <input type="text" class="form-control border-0 card-input" id="expiryDate"
                                            name="expiryDate" placeholder="MM/YYYY" required
                                            [(ngModel)]="creditCard.expiryDate" bsDatepicker [bsConfig]="{
                                                minMode: 'month',
                                                adaptivePosition: true,
                                                dateInputFormat: 'MM/YYYY',
                                                minDate: minExpiryDate
                                            }">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="cvv">CVV</label>
                                        <input type="text" class="form-control border-0 card-input" id="cvv" name="cvv"
                                            required [(ngModel)]="creditCard.cvv">
                                    </div>
                                    <div class="mt-3 d-flex flex-row" style="gap:20px">
                                        <button style="
                                        width: -webkit-fill-available;
                                        height: -webkit-fill-available;" class="btn btn-secondary"
                                            (click)="isShowCreditCard = !isShowCreditCard">Annulla</button>
                                        <button style="
                                        width: -webkit-fill-available;
                                        height: -webkit-fill-available;" type="submit"
                                            class="btn btn-color-no-hover text-white">Salva</button>
                                    </div>
                                </form>
                                <div class="border-left" style="width: 1px; background: #62686e;"></div>
                                <div>
                                    <p class="text-secondary">Accettiamo tutte le principali carte di credito e di
                                        debito:</p>
                                    <div class="d-flex flex-row"><span style="background-image: url('/assets/img/cards.png'); background-position: 0px; margin-right: 6px; margin-right: 6px;
                                            width: 45px;
                                            display: block;
                                            height: 30px;
                                            border-radius: 5px;"></span><span style="background-image: url('/assets/img/cards.png'); background-position: -45px;margin-right: 6px;
                                            width: 45px;
                                            display: block;
                                            height: 30px;
                                            border-radius: 5px;"></span>
                                        <span style="background-image: url('/assets/img/cards.png'); background-position: -90px; margin-right: 6px;margin-right: 6px;
                                            width: 45px;
                                            display: block;
                                            height: 30px;
                                            border-radius: 5px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="!isShowAddAddress ? 'mb-5' : '' " class="container d-flex flex-column">
                    <h1>Indirizzo</h1>
                    <div class="mb-4 text-secondary" *ngIf="addressList.length > 0">
                        Lista Indirizzi
                    </div>
                    <div class="mb-4 text-secondary" *ngIf="addressList.length <= 0">
                        Nessun indirizzo presente
                    </div>
                    <span *ngIf="!isShowAddAddress" class="add-card pointer"
                        (click)="isShowAddAddress = !isShowAddAddress">Aggiungi Indirizzo
                    </span>
                </div>
                <div *ngIf="isShowAddAddress" class="container d-flex flex-column mb-5">
                    <h1>Aggiungi indirizzo</h1>
                    <unievent-payment-step2-payment-address-form
                        (clearAddressEvent)="isShowAddAddress = !isShowAddAddress"></unievent-payment-step2-payment-address-form>
                </div>
                <div class="py-3 d-flex justify-content-end mt-4">
                    <button class="btn btn-secondary rounded-0 mx-3" style="margin-top:-1px" mat-button
                        matStepperPrevious>Indietro</button>
                    <button class="btn btn-primary btn-color-no-hover rounded-0" mat-button
                        matStepperNext>Avanti</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Verifica e paga</ng-template>
            <div class="container mb-5">
                <h1 class="mb-0">Riepilogo</h1>
                <hr class="m-0 mt-3 mb-3">
                <div class="d-flex flex-column" style="gap:15px">
                    <span>Numero biglietti: {{eventTicketList?.length}}</span>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column" *ngFor="let objectMap of eventTicketList">
                            <span>1 x Biglietto {{getTypeByEvent(objectMap)}}, {{objectMap.n_object_price}}€</span>
                        </div>
                        <div class="mt-3">Commissioni di servizio: {{((getTotalPrice() * commissionsOfService) /
                            100).toFixed(2)}}€</div>
                        <div *ngIf="getShippingFee() > 0" class="mt-3">Spese di spedizione: {{getShippingFee()}} €
                        </div>
                    </div>
                    <div *ngIf="paymentMethodStep2FormComponent?.contrassegnoSelected === 'Contrassegno' ">
                        Contrassegno: {{contrassegnoFee}}€</div>
                    <hr class="m-0">
                    <span>Totale: {{(getTotalPrice() + ((getTotalPrice() * commissionsOfService) / 100) +
                        getShippingFee()).toFixed(2)}}€</span>
                </div>
            </div>
            <div>
                <button class="btn btn-secondary rounded-0 mx-3" style="margin-top:-1px" mat-button
                    matStepperPrevious>Indietro</button>
                <button mat-button matStepperNext class="btn btn-primary btn-color-no-hover rounded-0">Conferma
                    ordine</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>