<div class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-middle">
        <main class="background p-4">
            <div style="opacity: 1!important;" class="text-center">
                <a href="/"><img class="d-block mx-auto" src="/assets/img/logo_unievent_white.svg" alt="" width=""
                        height="150"></a>
                <h2>Crea nuovo account</h2>
                <p>Per completare la registrazione compila i seguenti campi.</p>
            </div>
            <div class="row">
                <div class="col-1" style="width: 100%;">
                    <unievent-signup-form (onSignUp)="signUp()" ></unievent-signup-form>
                </div>
            </div>
        </main>
    </div>
</div>