.bgimg {
    background-image: url("/assets/img/pexels-sebastian-ervi-1763075.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.background {
    background-color: rgb(0 0 0 / 67%) !important
}