<div class="container rounded p-4">
    <div id="our-partners" class="row py-4 px-2 rounded">
        <div class="col-12 text-center">
            <h2 class="mb-4"><b>I nostri partner</b></h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/sony.png" class="card-img-top rounded" alt="Sony">
                        <div class="card-body text-center">
                            <p class="card-text">Innovazione e qualità nel settore tecnologico, leader mondiale nella produzione di elettronica di consumo e intrattenimento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/belvedere.png" class="card-img-top rounded" alt="Belvedere">
                        <div class="card-body text-center">
                            <p class="card-text">Raffinata e autentica, Belvedere è sinonimo di qualità superiore e tradizione nel mondo dei distillati di lusso.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/redbull.png" class="card-img-top rounded" alt="Red Bull">
                        <div class="card-body text-center">
                            <p class="card-text">Energia e innovazione, Red Bull è un leader mondiale nel settore delle bevande energetiche, sostenendo sport estremi e avventure uniche.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/marlboro.png" class="card-img-top rounded" alt="Marlboro">
                        <div class="card-body text-center">
                            <p class="card-text">Iconica e riconosciuta a livello mondiale, Marlboro rappresenta tradizione e qualità nel settore delle sigarette di lusso.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/bose.png" class="card-img-top rounded" alt="Bose">
                        <div class="card-body text-center">
                            <p class="card-text">Rinomata per la sua eccellenza nel settore audio, Bose offre un'esperienza sonora premium grazie a tecnologie innovative e design all'avanguardia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/apple.png" class="card-img-top rounded" alt="Apple">
                        <div class="card-body text-center">
                            <p class="card-text">Pioniera nel settore tecnologico, Apple è conosciuta per i suoi prodotti innovativi, design elegante e un ecosistema integrato di hardware e software.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/lg.png" class="card-img-top rounded" alt="LG">
                        <div class="card-body text-center">
                            <p class="card-text">Conosciuta per la sua innovazione e affidabilità, LG offre una vasta gamma di prodotti elettrodomestici, dispositivi mobili e soluzioni digitali per migliorare la vita quotidiana.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/adobe.png" class="card-img-top rounded" alt="Adobe">
                        <div class="card-body text-center">
                            <p class="card-text">Adobe: Fornitore leader di software per creatività e produttività, Adobe offre soluzioni innovative per la grafica, la fotografia, il video, l'e-learning e molto altro.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/samsung.png" class="card-img-top rounded" alt="Samsung">
                        <div class="card-body text-center">
                            <p class="card-text">Leader globale nell'innovazione tecnologica, Samsung offre una vasta gamma di prodotti e servizi che spaziano dagli smartphone e dispositivi elettronici, all'elettrodomestica e alle soluzioni digitali.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/dolcevita.png" class="card-img-top rounded" alt="Dolcevita">
                        <div class="card-body text-center">
                            <p class="card-text">Un luogo di intrattenimento e svago, il Dolcevita Club Salerno offre un'esperienza unica con musica dal vivo, eventi speciali e un'atmosfera accogliente per incontrare amici e divertirsi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/roccerosse.svg" class="card-img-top rounded" alt="Rocce Rosse">
                        <div class="card-body text-center">
                            <p class="card-text">Un'iconica destinazione sul lungomare di Salerno, Rocce Rosse offre un mix perfetto di ristorante, lounge bar e club notturno, con una vista mozzafiato sul mare, cucina raffinata e intrattenimento di qualità per una serata indimenticabile.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/105.png" class="card-img-top rounded" alt="105">
                        <div class="card-body text-center">
                            <p class="card-text"> Una delle stazioni radio più popolari in Italia, radio 105 offre una varietà di programmi di intrattenimento, talk show, musica e notizie, diventando una voce influente nella cultura e nell'intrattenimento radiofonico del paese.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/102.5.png" class="card-img-top rounded" alt="102.5">
                        <div class="card-body text-center">
                            <p class="card-text">Una delle stazioni radio più ascoltate nella tua regione, offre una varietà di programmi che spaziano dalla musica alle notizie locali, dall'intrattenimento alle interviste, diventando una compagnia apprezzata e una fonte affidabile di informazioni e divertimento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/eden.png" class="card-img-top rounded" alt="Eden">
                        <div class="card-body text-center">
                            <p class="card-text">Un'oasi di tranquillità nel cuore della città eterna, i Giardini dell'Eden offrono una meravigliosa combinazione di paesaggi mozzafiato, architettura storica e serenità naturale. Con il loro fascino senza tempo, sono il luogo ideale per una passeggiata rilassante, un picnic romantico o una fuga dalla frenesia urbana.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/matchme.png" class="card-img-top rounded" alt="Match Me">
                        <div class="card-body text-center">
                            <p class="card-text">L'evento che ti porta un passo più vicino alla tua anima gemella. Con sede sia a Roma che a Napoli, Match Me è l'occasione perfetta per incontrare nuove persone, condividere interessi comuni e forse trovare l'amore della tua vita. Con giochi interattivi, attività divertenti e la possibilità di conversare con persone affini.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 d-flex justify-content-center align-items-center">
                    <div class="card border-0 shadow-sm p-3 rounded">
                        <img src="/assets/img/unisa.png" class="card-img-top rounded" alt="Unisa">
                        <div class="card-body text-center">
                            <p class="card-text">Un istituto accademico rinomato per l'eccellenza della sua formazione e ricerca, l'Università degli Studi di Salerno offre una vasta gamma di corsi di laurea, master e dottorati in vari settori. Con docenti di alto livello e strutture all'avanguardia, l'Università di Salerno si impegna a fornire un ambiente stimolante e inclusivo per lo sviluppo personale e professionale dei suoi studenti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>