<div *ngIf="form" class="container justify-content-center align-items-center py-4 my-3 event-plan-container shadow rounded">
    <div class="d-flex justify-content-center align-items-center my-4">
        <span class="h5 mx-3">Mappa</span>
        <ng-select [items]="mapSelectItems" bindLabel="name" bindValue="id" [clearable]="false" [(ngModel)]="selectedMapIndex"
            placeholder="Seleziona mappa">
        </ng-select>
    </div>
    <div class="d-flex my-3 justify-content-center align-items-center">
        <span class="fw-bolder">Legenda: </span>
        <div class="d-flex">
            <div class="mx-2">
                <span [style]=" 'border: 1px solid #797979;'"
                    style="width: 10px; height: 10px; border-radius: 50%; display: inline-block; margin-right: 4px;"></span>
                <span>Libero</span>
            </div>
            <div class="mx-2">
                <span [style]="'background-color: #9b1717;border: 1px solid #797979;'"
                    style="width: 10px; height: 10px; border-radius: 50%; display: inline-block; margin-right: 4px;"></span>
                <span>Occupato</span>
            </div>
        </div>
    </div>
    <div class="row shadow m-2 rounded p-3 event-plan-list-container">
        <div class="d-flex justify-content-between align-items-center" *ngFor="let row of mapSeatList[selectedMapIndex]">
            <ng-container *ngFor="let object of row">
                <div *ngIf="object.n_id"
                    [ngClass]="object.is_acquistabile ? '' : 'not-buy'"
                    class="d-flex rounded justify-content-center align-items-center pointer border m-2"
                    [style]="object.n_obj_map_width && object.n_obj_map_height ? 
                    'width:'+object.n_obj_map_width+'px; height:'+object.n_obj_map_height+'px;background:'+object.n_obj_map_fill+';':'min-width:80px;height:40px;'">
                    {{object.n_obj_map_text ? object.n_obj_map_text : object.t_seat_list[0].n_seat_num}}</div>
                <div *ngIf="!object.n_id" class="" style="min-width:40px; height:40px"></div>
            </ng-container>
        </div>
    </div>
</div>