<div class="container profile-container">
    <div class="d-flex flex-column mt-2">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row">
                <span shape="circle" class="user-profile-photo-container pointer mx-3"><img class="user-profile-photo"
                        [attr.src]="user.t_profile_photo" />
                </span>
                <div class="d-flex flex-column">
                    <span>
                        <h1>{{user.t_name}} {{user.t_surname}}</h1>
                    </span>
                    <span>
                        <h3>@{{user.t_alias_generated}}</h3>
                    </span>
                    <button class="btn btn-secondary rounded-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                        Modifica profilo
                    </button>
                </div>
            </div>
            <div>
                <button class="btn btn-color-primary rounded-0 text-white">Segui</button>
            </div>
        </div>
        <div class="d-flex flex-row mt-4 mx-4" style="gap: 25px;">
            <h4><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                    fill="currentColor" class="bi bi-person-fill-up mb-1" viewBox="0 0 16 16" style="margin-right: 5px;">
                    <path
                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path
                        d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                </svg> <b>{{userInfo.countFollowed}}</b>Seguiti</h4>
            <h4><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    class="bi bi-person-heart mb-1" viewBox="0 0 16 16" style="margin-right: 8px;">
                    <path
                        d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z" />
                </svg><b>{{userInfo.countFollower}}</b>Seguaci</h4>
            <h4><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart-fill mb-1" viewBox="0 0 16 16" style="margin-right: 4px;">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                    </svg> {{userInfo.countLike}}</b>Mi Piace</h4>
        </div>
        <div class="d-flex flex-row mt-2 mx-4">
            <span>{{user.t_description}}</span>
        </div>
        <div class="mx-4 d-flex flex-column">
            <span>Contenuti</span>
            <span>Preferiti</span>
            <span>Piaciuti</span>
        </div>
    </div>
</div>