
::ng-deep .bg-dark-mode .type-buttons .active {
    border-bottom: 3px solid rgb(194, 194, 194);
    color: rgb(194, 194, 194) !important;
}

::ng-deep .bg-dark-mode .type-buttons span:hover {
    border-bottom: 3px solid rgb(194, 194, 194);
}

::ng-deep .bg-light-mode .type-buttons .active {
    font-weight: 900 !important;
    border-bottom: 3px solid rgb(31, 31, 31);
    color: var(--bs-dark);
}

::ng-deep .bg-light-mode .type-buttons span:hover {
    border-bottom: 3px solid rgb(31, 31, 31);
}

.type-buttons {
    font-size: 1.2rem;
    border-bottom: 1px solid #242424;
}

.type-buttons span {
    position: relative;
    top: 2px;
}



/* check di questo css */

.user-profile-photo-container {
    width: 34px;
    min-width: 34px;
    height: 34px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50%;
}

.user-profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-profile-photo-container-main {
    width: 134px;
    min-width: 134px;
    height: 134px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50%;
}

.user-profile-photo-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container{
    margin-top:120px !important;
}

::ng-deep .bg-dark-mode .type-buttons .active {
    border-bottom: 3px solid rgb(194, 194, 194);
    color: rgb(194, 194, 194) !important;
}

::ng-deep .bg-dark-mode .type-buttons span:hover {
    border-bottom: 3px solid rgb(194, 194, 194);
}

::ng-deep .bg-light-mode .type-buttons .active {
    font-weight: 900 !important;
    border-bottom: 3px solid rgb(31, 31, 31);
    color: var(--bs-dark);
}

::ng-deep .bg-light-mode .type-buttons span:hover {
    border-bottom: 3px solid rgb(31, 31, 31);
}

.type-buttons {
    font-size: 1.2rem;
    border-bottom: 1px solid #242424;
}

.type-buttons span {
    position: relative;
    top: 2px;
}

.alias:hover{
    text-decoration: underline;
}

.bi-check2-circle {
    margin-bottom: 4px;
    fill: aqua
}


.video-canvas {
    object-fit: cover;
    z-index: 2;
}

.search-title {
    margin-top: 5px;
    margin-bottom: 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-size: 16px;
}

.video-info {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 100px;
    background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
    padding: 67px 13px 17px;
    z-index: 3;
}

.card-image {
    padding-top: 129%;
    overflow: hidden;
    border-radius: 5px
}

.picture-preview {
    object-fit: cover;
}

::ng-deep .bg-dark-mode .menuEl{
    color: var(--bs-secondary);
}

::ng-deep .bg-light-mode .menuEl{
    color: var(--bs-dark);
}

::ng-deep .bg-dark-mode .post-card-container {
    background: var(--bs-dark);
    color: var(--bs-white)
}

::ng-deep .bg-light-mode .post-card-container {
    background: var(--bs-light);
    color: var(--bs-dark)
}

/*MODALE*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button {
    padding: 10px 20px;
    margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

::ng-deep .bg-dark-mode .modal-content {
    background: var(--bs-dark);
    color: var(--bs-white)
}

.edit-profile-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    width: 134px;
    min-width: 134px;
    height: 134px;
    z-index: 1;
}

.invisible {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 134px;
    min-width: 134px;
    height: 134px;
}

.edit-profile-icon i {
    font-size: 15px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    background: #3b3b3b;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid;
}

::ng-deep .bg-dark-mode .form-group input:not(:disabled), ::ng-deep .bg-dark-mode .form-group textarea{
    color:white;
    background:#0000000d;
}

::ng-deep .bg-dark-mode .form-group input:disabled{
    color:white;
}

.form-group input:disabled{
    cursor: not-allowed;
}
