<div class="d-flex flex-row p-3 container">
    <div [ngClass]="darkMode ? 'friends-list-bg-dark text-white' : 'bg-light text-dark shadow-sm' "
        class="d-flex flex-column p-3 friends-list col-4 overflow-auto">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h1><b>Messaggi</b></h1>
            <svg (click)="openNewChatModal()" #tooltip="matTooltip" matTooltip="Nuova chat" matTooltipPosition="left"
                matTooltipHideDelay="100" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-box-arrow-up-right mb-3 pointer" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                <path fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
            </svg>
        </div>
        <div *ngIf="chatListGroupedByDate.length > 0" class="d-flex flex-column">
            <ng-container *ngFor="let chat of chatListGroupedByDate">
                <div (click)="setActiveUser(chat.userChat)"
                    [ngClass]="activeChatUser === chat.userChat ? 'chatElementActive' : '' "
                    class="d-flex flex-row mb-3 chatElement p-2 pointer">
                    <img width="70" height="70" class="chatImage" style="border-radius: 100px;"
                        [attr.src]="chat?.userChat?.t_profile_photo?.length > 0 ? chat.userChat.t_profile_photo : 'assets/img/profile-placeholder.png'">
                    <div class="flex-column mx-2 justify-content-center">
                        <div class="d-flex flex-row my-1">
                            <h2 class="d-none d-lg-block m-0">@{{chat.userChat.t_alias_generated}}</h2>
                            <h5 class="d-none d-lg-none d-md-block m-0">@{{chat.userChat.t_alias_generated}}</h5>
                        </div>
                        <div class="d-none d-lg-flex flex-row">
                            <span class="previewMessage">{{getLatestMessageElement(chat).message}}</span>
                            <span
                                class="d-none d-xl-block lastMessageHour mx-2">{{getMessageStatus(getLatestMessageElement(chat).dateTime)}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <span class="my-3" *ngIf="chatListGroupedByDate.length <= 0">Ancora nessun messaggio</span>
    </div>
    <div [ngClass]="darkMode ? 'friends-list-bg-dark text-white' : 'bg-light text-dark shadow-sm' "
        class="col-8 friends-list mx-3">
        <div *ngIf="activeChatUser != null && groupedByDateActiveChatUser != null" class="d-flex flex-column">
            <div class="px-4 pt-4 pb-1 d-flex flex-row">
                <img width="70" height="70" class="chatImage" style="border-radius: 100px;"
                    [attr.src]="activeChatUser?.t_profile_photo?.length > 0 ? activeChatUser?.t_profile_photo : 'assets/img/profile-placeholder.png'">
                <div class="d-flex flex-column mx-2 justify-content-center">
                    <div class="d-flex flex-column my-1">
                        <h2 class="m-0">{{activeChatUser?.t_alias_generated}}</h2>
                        <h4 class="m-0">@{{activeChatUser?.t_alias_generated}}</h4>
                    </div>
                </div>
            </div>
            <hr class="mb-1">
            <div class="flex-column">
                <div #chatContainer class="chat-container">
                    <ng-container *ngFor="let key of getObjectKeys(groupedByDateActiveChatUser.messages)">
                        <div class="px-4 pt-4 pb-1 d-flex flex-row justify-content-center">
                            <span
                                class="messageDate">{{getMessageStatus(groupedByDateActiveChatUser.messages[key][0].dateTime)}}</span>
                        </div>
                        <ng-container *ngFor="let message of groupedByDateActiveChatUser.messages[key]">
                            <div [ngClass]=" message.user_from.t_alias_generated === currentUser.t_alias_generated ? 'justify-content-end' : 'justify-content-start' "
                                class="px-4 pt-4 pb-1 d-flex flex-row">
                                <div class="activeUserMessage"
                                    *ngIf="message.user_from.t_alias_generated === currentUser.t_alias_generated">
                                    {{message.message}}
                                </div>
                                <img width="42" height="42" class="chatMinImage" style="border-radius: 100px;"
                                    [attr.src]="message?.user_from?.t_profile_photo?.length > 0 ? message.user_from.t_profile_photo : 'assets/img/profile-placeholder.png'">
                                <div class="activeChatUserMessage"
                                    *ngIf="message.user_from.t_alias_generated !== currentUser.t_alias_generated">
                                    {{message.message}}
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="d-flex flex-row p-3">
                    <div class="d-flex w-100 message-container">
                        <!-- (input)="onInputChange()" -->
                        <input #messageInput (keyup.enter)="sendMessage()" [(ngModel)]="messageValue" type="text"
                            class="message-input w-100 bg-transparent border-0" placeholder="Scrivi un messaggio...">
                        <button (click)="openEmoticonPanel()" class="emoji-button bg-transparent border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                [attr.fill]="darkMode ? 'white': 'black'" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5" />
                            </svg>
                        </button>
                        <unievent-message-emoticon-panel [darkMode]="darkMode" (closePanelEvent)="closeEmoticonPanel()"
                            (emojiSelected)="addEmoticonToChat($event)"
                            *ngIf="showEmoticonPanel"></unievent-message-emoticon-panel>
                    </div>
                    <div (click)="sendMessage()" class="d-flex send-container align-items-center mx-2 pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-send" viewBox="0 0 16 16">
                            <path
                                d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showNewChatPanel" class="modal-overlay" style="z-index:10;">
    <div class="modal-content container p-3 m-3" style="max-width: 400px;">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <div class="d-flex flex-column">
                <h2 class="mb-2">Nuova Chat</h2>
                <h5 class="text-secondary">Invia un nuovo messaggio ad un amico o un conoscente.</h5>
            </div>
            <span style="font-size:38px;" class="pointer" (click)="closeNewChatModal()"
                aria-hidden="true">&times;</span>
        </div>
        <div class="d-flex flex-column">
            <ng-select [items]="users" bindLabel="t_alias_generated" placeholder="Ricerca utente"
                (search)="searchUserService($event.term, $event.items)" [searchable]="true" [(ngModel)]="selectedUser">
                <ng-template ng-option-tmp let-item="item">
                    <div class="d-flex align-items-center gap-3">
                        <div class="profile-photo-container">
                            <img *ngIf="item.t_profile_photo" [src]="item.t_profile_photo" alt="Profile Photo"
                                class="profile-photo">
                        </div>
                        <span>{{ item.t_alias_generated }}</span>
                    </div>
                </ng-template>
            </ng-select>
            <textarea class="form-control mt-3" rows="3" [(ngModel)]="messageText"
                placeholder="Scrivi il tuo messaggio..." style="resize: none;"></textarea>
            <button [disabled]="selectedUser && messageText.length > 0 ? null : true" class="btn btn-danger mt-3"
                (click)="sendNewChatMessage()">Invia <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                    fill="currentColor" class="bi bi-send" viewBox="0 0 16 16" style="fill: white!important;">
                    <path
                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                </svg></button>
        </div>
    </div>
</div>