.friends-list {
    height: calc(-128px + 100vh);
    border-radius: 10px;
}

.friends-list-bg-dark {
    background: rgb(37, 37, 37);
}

.lastMessageHour {
    font-size: 0.6rem;
}

.previewMessage {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatElement {
    border-radius: 10px;
}

.friends-list-bg-dark .chatElement:hover {
    background: #505355;
}

.friends-list-bg-dark .chatElementActive {
    background: #505355;
}

.bg-light .chatElement:hover {
    background: #e4e4e4;
}

.bg-light .chatElementActive {
    background: #e4e4e4;
}

.chatImage {
    min-height: 70px;
    min-width: 70px;
    object-fit: cover;
}

.chatMinImage {
    min-height: 42px;
    min-width: 42px;
    object-fit: cover;
}


.activeUserMessage {
    background: #b11e12;
    border-radius: 15px;
    padding: 12px;
    color: white !important;
    max-width: 430px;
    margin-right: 8px;
    word-wrap: break-word;
    text-align: left;
    /* Aggiunto per allineare il testo a sinistra */
}

.activeChatUserMessage {
    margin-left: 8px;
    background: #6d6d6d;
    color: white !important;
    border-radius: 15px;
    padding: 12px;
    max-width: 430px;
    word-wrap: break-word;
    /* o overflow-wrap: break-word; */
}

.messageDate {
    font-size: 0.8rem;
}

.message-container {
    border-radius: 7px;
    padding: 7px;
}

.chat-container {
    height: calc(-325px + 100vh);
    max-height: calc(-325px + 100vh);
    overflow: hidden;
    overflow-y: auto;
}

.friends-list-bg-dark .message-container {
    background: #585858;
}

.bg-light .message-container {
    background: #e4e4e4;
}

.friends-list-bg-dark .message-container>input {
    color: white !important;
}

.bi-send {
    fill: #b11e12;
}

/*Non lo prende verificare perchè*/
.emoji {
    font-size: 1.6rem !important;
}

.friends-list-bg-dark::-webkit-scrollbar, .friends-list-bg-dark .chat-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

/* Track */
.friends-list-bg-dark::-webkit-scrollbar-track, .friends-list-bg-dark .chat-container::-webkit-scrollbar-track {
    background-color: transparent !important;
    box-shadow: none;
}

/* Handle */
.friends-list-bg-dark::-webkit-scrollbar-thumb, .friends-list-bg-dark .chat-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #535353;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
.friends-list-bg-dark::-webkit-scrollbar-thumb:hover , .friends-list-bg-dark .chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

.bg-light::-webkit-scrollbar, .bg-light .chat-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

/* Track */
.bg-light::-webkit-scrollbar-track, .bg-light .chat-container::-webkit-scrollbar-track {
    background-color: transparent !important;
    box-shadow: none;
}

/* Handle */
.bg-light::-webkit-scrollbar-thumb, .bg-light .chat-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c7c7c7;
}

/* Handle on hover */
.bg-light::-webkit-scrollbar-thumb:hover, .bg-light .chat-container::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141);
}

.friends-list-bg-dark .message-input::placeholder{
    color: rgb(212, 212, 212) !important;
}

/* MODALE */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.modal-content button {
    padding: 10px 20px;
    margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

::ng-deep .bg-dark-mode .modal-content {
    background: var(--bs-dark);
    color: var(--bs-white)
}

textarea{
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

textarea:focus{
    accent-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

::ng-deep .bg-dark-mode textarea,::ng-deep .bg-dark-mode textarea::placeholder{
    background-color: var(--bs-dark) !important;
    color: var(--bs-white) !important;
}

/* Sovrascrivi lo stile di default di ng-select */
::ng-deep .bg-dark-mode .ng-select {
    background-color: transparent !important;
}

::ng-deep .bg-dark-mode .ng-select-container {
    background-color: transparent !important;
    background: transparent !important;
    color: white !important;
}

::ng-deep .bg-dark-mode .ng-select .ng-select-container .ng-value-container .ng-input>input{
    color: white !important;
}

::ng-deep .bg-dark-mode .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: rgb(37, 37, 37) !important;
    color: white;
    border-radius: 0px;
}

::ng-deep .bg-dark-mode .ng-option-label {
    color: rgb(179, 179, 179) !important;
}

::ng-deep .bg-dark-mode .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: #505355 !important;
}

/* Opzionale: Imposta il background dell'opzione selezionata */
::ng-deep .bg-dark-mode .ng-option-marked {
    background-color: rgba(0, 0, 0, 0.1) !important;
    /* Cambia il colore di sfondo selezionato */
}


.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo-container {
    width: 34px;
    min-width: 34px;
    height: 34px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50%;
}