.friends-list {
    height: calc(-128px + 100vh);
    border-radius: 10px;
}

.friends-list-bg-dark {
    background: rgb(37, 37, 37);
}

.lastMessageHour {
    font-size: 0.6rem;
}

.previewMessage {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatElement {
    border-radius: 10px;
}

.friends-list-bg-dark .chatElement:hover {
    background: #505355;
}

.friends-list-bg-dark .chatElementActive {
    background: #505355;
}

.bg-light .chatElement:hover {
    background: #e4e4e4;
}

.bg-light .chatElementActive {
    background: #e4e4e4;
}

.chatImage {
    min-height: 70px;
    min-width: 70px;
    object-fit: cover;
}

.chatMinImage {
    min-height: 42px;
    min-width: 42px;
    object-fit: cover;
}


.activeUserMessage {
    background: #b11e12;
    border-radius: 15px;
    padding: 12px;
    color: white !important;
    max-width: 430px;
    margin-right: 8px;
    word-wrap: break-word;
    text-align: left;
    /* Aggiunto per allineare il testo a sinistra */
}

.activeChatUserMessage {
    margin-left: 8px;
    background: #6d6d6d;
    color: white !important;
    border-radius: 15px;
    padding: 12px;
    max-width: 430px;
    word-wrap: break-word;
    /* o overflow-wrap: break-word; */
}

.messageDate {
    font-size: 0.8rem;
}

.message-container {
    border-radius: 7px;
    padding: 7px;
}

.chat-container {
    height: calc(-325px + 100vh);
    max-height: calc(-325px + 100vh);
    overflow: hidden;
    overflow-y: auto;
}

.friends-list-bg-dark .message-container {
    background: #585858;
}

.bg-light .message-container {
    background: #e4e4e4;
}

.friends-list-bg-dark .message-container>input {
    color: white !important;
}

.bi-send {
    fill: #b11e12;
}

/*Non lo prende verificare perchè*/
.emoji {
    font-size: 1.6rem !important;
}

.friends-list-bg-dark .chat-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

/* Track */
.friends-list-bg-dark .chat-container::-webkit-scrollbar-track {
    background-color: transparent !important;
    box-shadow: none;
}

/* Handle */
.friends-list-bg-dark .chat-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #535353;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
.friends-list-bg-dark .chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

.bg-light .chat-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}

/* Track */
.bg-light .chat-container::-webkit-scrollbar-track {
    background-color: transparent !important;
    box-shadow: none;
}

/* Handle */
.bg-light .chat-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c7c7c7;
}

/* Handle on hover */
.bg-light .chat-container::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141);
}

.friends-list-bg-dark .message-input::placeholder{
    color: rgb(212, 212, 212) !important;
}