<div *ngIf="isShow" class="hiddenSearch">
    <div [ngClass]="isShow ? 'collapse show' : 'collapse'" [attr.class]="darkMode && isShow ? 'bg-dark-mode pt-2' : 'bg-white pt-2'"
    id="showSearch">
    <unievent-search-form [darkMode]="darkMode"></unievent-search-form>
</div>
<ng-container *ngIf="isShow">
    <p [className]="darkMode ? 'bg-dark-mode text-end pt-1 px-3 m-0 pb-2' : 'text-end pt-1 px-3 m-0 pb-2 bg-white'">
        <a [ngClass]="darkMode ? 'text-white' : 'text-dark'" class="text-decoration-none pointer" data-bs-toggle="collapse"
            href="#showSearch" role="button" aria-expanded="false" aria-controls="showSearch"
            (click)="isShow=!isShow; hideSearch()"><span
                class="d-flex d-md-inline-flex justify-content-end align-items-end">Nascondi<i
                    class="mx-1 gg-chevron-up"></i></span></a>
    </p>
</ng-container>
</div>