<div class="bgimg w3-display-container w3-text-white d-flex align-items-center justify-content-center vh-100">
    <div class="d-flex">
		<div class="card">
			<div class="card-header">
				<a href="/"><img class="d-block mx-auto mt-4 p-2" src="assets/img/logo_unievent_white.svg" alt="" width="" height="100"></a>
				<h3 class="mb-2">Password Dimenticata</h3>
				<div class="text-center">
					<!--<% if(session.error) {%><h6 style="color:rgb(255, 61, 61);"><%=session.error%></h6><%}%>-->
                </div>
			</div>
			<div class="card-body">
                <unievent-forgot-password-form (onForgot)="forgotPw()"></unievent-forgot-password-form>
			</div>
		</div>
    </div>
</div>