<div [ngClass]="darkMode ? 'text-white' : 'text-dark'">
    <unievent-navbar id="nav" [darkMode]="darkMode" (updateThemeEvent)="updateTheme()" *ngIf="showMenu"
        (onShowCollapse)="showCollapse()" (onCloseCollapse)="closeCollapse()"></unievent-navbar>
    <div [attr.style]="showMenu ? 'margin-top:80px' : null" [attr.class]="showMenuLeft ? 'd-flex flex-row justify-content-between' : null">
        <unievent-navbar-left-menu *ngIf="showMenuLeft"></unievent-navbar-left-menu>
        <router-outlet style="flex: none;"></router-outlet>
    </div> 
    <!--<unievent-search-collapse (onHideSearch)="updateSearchButton()"></unievent-search-collapse>
    <router-outlet style="flex: none;"></router-outlet>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</div>