<div [ngClass]="darkMode ? 'text-white' : 'text-black'">
    <unievent-navbar id="nav" [darkMode]="darkMode" (updateThemeEvent)="updateTheme()" *ngIf="showMenu"
        (onShowCollapse)="showCollapse()" (onCloseCollapse)="closeCollapse()"></unievent-navbar>
    <!--Se navbar è fixed e si vuole menu left fixed-->
    <!--<div [attr.style]="showMenu ? 'margin-top:95px' : null" [attr.class]="showMenuLeft ? 'd-flex flex-row justify-content-between' : null">
        <unievent-search-collapse (onHideSearch)="updateSearchButton()"></unievent-search-collapse>
        <unievent-navbar-left-menu *ngIf="showMenuLeft"></unievent-navbar-left-menu>
        <router-outlet style="flex: none;"></router-outlet>
    </div> -->
    <unievent-search-collapse (onHideSearch)="updateSearchButton()"></unievent-search-collapse>
    <router-outlet style="flex: none;"></router-outlet>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <unievent-footer *ngIf="showMenu"></unievent-footer>
</div>