<div class="card card-body border-0">
    <div class="form-group has-search">
        <div class="d-flex px-xl-5">
            <span [ngClass]="dynamicClass['t_search_input']" class="d-flex align-items-center border-end-0" style="border: 1px solid #dee2e6; font-family: Arial,FontAwesome;padding-left:0.75rem!important;padding-bottom: 4px;">
                &#xF002;
            </span>
            <input type="text" class="form-control form-search rounded-0 border-start-0" (focus)="addFocusClass('t_search_input')" (focusout)="removeFocusClass('t_search_input')" placeholder="Ricerca eventi e topic..." >
            <button class="btn btn-primary btn-color-no-hover rounded-0">Cerca</button>
        </div>
    </div>
    <div class="mx-8 mt-4">
        <span>Filtri di ricerca</span>
        <div class="card card-body">
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <span class="text-secondary">Dove?</span>
                        <ng-select [items]="city" bindLabel="Denominazione in italiano"
                            bindValue="Codice Comune formato numerico" [(ngModel)]="selectedCity"
                            placeholder="Seleziona Città">
                        </ng-select>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-2_5">
                    <div class="form-group">
                        <span class="text-secondary">Quando?</span>
                        <input type="date" min="1923-01-01" class="form-control" name="t_birthday"
                            formControlName="t_birthday" id="t_birthday">
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <span class="text-secondary">Tipo Evento?</span>
                        <ng-select [items]="tipoEventoArray" bindLabel="name" bindValue="id"
                            [(ngModel)]="selectedEventType" placeholder="Seleziona tipo">
                        </ng-select>
                    </div>
                </div>
                <div class="col-xl-1 col-sm-1_5 col-only-text justify-content-center pointer"
                    (click)="goToAdvancedSearch()">
                    <div class="form-group d-flex align-items-center text-event-color-primary">
                        <span class="px-xl-0-1">Ricerca avanzata</span><i class="gg-arrow-long-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>