.form-search .form-control:focus,
.bg-filter .form-control:focus {
    box-shadow: 0 0 0 0.1rem #ff0400 !important;
    border-color: #ff0400 !important;
}

.form-search:focus {
    box-shadow: none !important;
    border-color: #ff0400 !important;
    border: 1px solid #ff0400 !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.bg-dark-mode input::placeholder,
.bg-dark-mode input {
    color: rgb(255, 255, 255) !important;
}

.explode-icon-search {
    border: 1px solid #ff0400 !important;
    border-right: 0px !important;
}

.bg-dark-mode .bg-filter {
    background: rgb(37, 37, 37);
}

/* Sovrascrivi lo stile di default di ng-select */
.bg-dark-mode ::ng-deep .ng-select {
    background-color: transparent !important;
}

.bg-dark-mode ::ng-deep .ng-select-container {
    background-color: transparent !important;
    background: transparent !important;
    color: white !important;
}

.bg-dark-mode .date {
    color-scheme: dark;
    font-size: 0.9rem;
}

  
.date::-webkit-datetime-edit-day-field:focus,
.date::-webkit-datetime-edit-month-field:focus,
.date::-webkit-datetime-edit-year-field:focus {
    background-color: red;
    color: white;
    outline: none;
}

::ng-deep .bg-dark-mode .ng-placeholder {
    color: white !important;
}

::ng-deep .bg-dark-mode .ng-select-container .ng-value-container .ng-input>input::placeholder {
    color: white !important;
}

.bg-dark-mode ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: white !important;
}

.bg-dark-mode ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: rgb(37, 37, 37) !important;
    color: white;
    border-radius: 0px;
}

.bg-dark-mode ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: #505355 !important;
}

/* Opzionale: Imposta il background dell'opzione selezionata */
.bg-dark-mode ::ng-deep .ng-option-marked {
    background-color: rgba(0, 0, 0, 0.1) !important;
    /* Cambia il colore di sfondo selezionato */
}

/* width */
.bg-dark-mode ::ng-deep .scroll-host::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
}

/* Track */
.bg-dark-mode ::ng-deep .scroll-host::-webkit-scrollbar-track {
    background-color: #3b3c3d !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
.bg-dark-mode ::ng-deep .scroll-host::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 5px solid #3b3c3d;
    min-height: 35px;
}

/* Handle on hover */
.bg-dark-mode ::ng-deep .scroll-host::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 48, 48)
}

.searchType{
    width: max-content;
}