.emoji-container {
  bottom: -60px;
  position: relative;
}

.emoji-container-flex {
  flex-wrap: wrap;
  width: 410px;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem;
  position: absolute;
  justify-content: normal;
  bottom: 120px;
  border-radius: 10px;
  margin: 0;
  right: 0;
  border-bottom-left-radius: 0;
}

.emoji-category-container-flex {
  position: absolute;
  right: 0px;
  bottom: 82px;
  min-width: 410px;
  display: flex;
  justify-content: center;
  background: #121212;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #5d5d5d;
  overflow: hidden;
}

.emoji {
  cursor: pointer;
  font-size: 1.6rem;
  margin: 8px;
  transition: transform 0.2s;
  user-select: none;
}

.emoji:hover {
  transform: scale(1.2);
}

.bg-light-mode {
  background: #f1f1f1;
}

.btn-emoji-category {
  font-size: 0.75rem;
  border-radius: 10px !important;
}

.bg-dark-mode .btn-emoji-category.active {
  background: #252525 !important;
}

.bg-dark-mode .btn-emoji-category:hover {
  background: #252525 !important;
}

.bg-light-mode .btn-emoji-category.active {
  background: #e4e4e4 !important;
}

.bg-light-mode .btn-emoji-category:hover {
  background: #e4e4e4 !important;
}

.bg-dark-mode.emoji-container-flex::-webkit-scrollbar {
  -webkit-appearance: none;
  //width: 20px;
}

/* Track */
.bg-dark-mode.emoji-container-flex::-webkit-scrollbar-track {
  background-color: #3b3c3d !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
.bg-dark-mode.emoji-container-flex::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border: 5px solid #3b3c3d;
}

/* Handle on hover */
.bg-dark-mode.emoji-container-flex::-webkit-scrollbar-thumb:hover {
  background-color: #bdbdbd;
}

.bg-light-mode.emoji-container-flex::-webkit-scrollbar {
  -webkit-appearance: none;
  //width: 20px;
}

/* Track */
.bg-light-mode.emoji-container-flex::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  box-shadow: inset 0 0 6px #e4e4e4;
}

/* Handle */
.bg-light-mode.emoji-container-flex::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
  box-shadow: inset 0 0 6px rgba(194, 194, 194, 0.5);
  border: 5px solid #e4e4e4;
}

/* Handle on hover */
.bg-light-mode.emoji-container-flex::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}

.emoji-container-flex::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  /* Aggiunta della proprietà cursor: pointer */
}