<div class="container rounded p-4">
    <div id="our-commitment" class="row py-4 px-2 rounded">
        <div class="col-xl-6 col-12 d-flex flex-column border-0 justify-content-center align-items-center p-3 rounded"
            style="overflow: hidden;">
            <video class="rounded"
                src="/assets/videos/our-commitment.mp4" disablepictureinpicture autoplay loop
                controlsList="nofullscreen nodownload noremoteplayback noplaybackrate" style="width: 100%; height: 100%; object-fit: cover;">
                Your browser does not support video
            </video>
        </div>
        <div class="col-xl-6 col-12 d-flex flex-column justify-content-center align-items-center p-3">
            <h1 class="mb-4"><b>Il nostro impegno</b></h1>
            <h4 class="text-secondary" style="text-align: justify;">
                Costruire un futuro sostenibile e connesso.

                In un'epoca in cui la consapevolezza ambientale è più importante che mai, ci impegniamo a fare la nostra parte per proteggere il pianeta e migliorare la qualità della vita delle persone. La nostra missione va oltre il semplice connettere le persone; vogliamo farlo in modo responsabile e sostenibile, garantendo che ogni nostra azione abbia un impatto positivo sull'ambiente e sulla società.
            </h4>
            <h3 class="text-secondary">Il nostro impegno ambientale:</h3>
            <ul class="text-secondary">
                <li>
                    Sostenibilità al primo posto: Implementiamo pratiche sostenibili in tutte le nostre operazioni, riducendo al minimo l'impatto ambientale e promuovendo l'uso di energie rinnovabili.
                </li>
                <li>
                    Riduzione dell'impronta di carbonio: Ci sforziamo di ridurre la nostra impronta di carbonio attraverso iniziative green, come l'utilizzo di server a basso consumo energetico e la promozione del riciclo tra i nostri dipendenti e utenti.
                </li>
                <li>
                    Educazione e consapevolezza: Utilizziamo la nostra piattaforma per sensibilizzare la comunità sull'importanza della sostenibilità, condividendo informazioni, risorse e consigli su come vivere in modo più ecologico.
                </li>
            </ul>
            <h3 class="text-secondary">Fornire un servizio utile:</h3>
            <ul class="text-secondary">
                <li>
                    Facilità d'uso e accessibilità: La nostra piattaforma è progettata per essere intuitiva e accessibile a tutti, offrendo strumenti semplici per creare, condividere e partecipare a eventi che arricchiscono la vita quotidiana.
                </li>
                <li>
                    Comunità inclusiva: Promuoviamo un ambiente inclusivo dove ogni voce è valorizzata e ogni individuo può trovare e costruire connessioni significative.
                </li>
                <li>
                    Sicurezza e fiducia: La sicurezza dei nostri utenti è una priorità. Adottiamo misure rigorose per proteggere le informazioni personali e garantire un'esperienza online sicura e affidabile.
                </li>
            </ul>
            <h3 class="text-secondary">Il nostro impegno sociale:</h3>
            <span class="text-secondary mb-5">
                Supporto alla comunità: Lavoriamo a stretto contatto con organizzazioni locali e globali per sostenere cause sociali e ambientali, contribuendo attivamente a migliorare le comunità in cui operiamo. 
                Crescita personale e collettiva: Incoraggiamo la partecipazione attiva e il coinvolgimento della nostra comunità, offrendo opportunità per apprendere, crescere e fare la differenza insieme.
                Il nostro obiettivo è creare una piattaforma che non solo connette le persone, ma lo fa in modo responsabile, sostenibile e utile. Siamo impegnati a costruire un futuro in cui la tecnologia e la sostenibilità vanno di pari passo, per un mondo più connesso e rispettoso dell'ambiente.
                Unisciti a noi nel nostro impegno. Insieme possiamo fare la differenza.
            </span>
        </div>
    </div>
</div>