.left-nav {
    position: fixed;
    height: calc(100vh - 80px);
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #333;
}


::ng-deep .bg-light-mode .left-nav::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
}

.left-nav::-webkit-scrollbar-thumb{
    visibility: hidden;
}

.left-nav:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

::ng-deep .bg-dark-mode .left-nav {
    background: rgb(18, 18, 18);
}

::ng-deep .bg-light-mode .left-nav {
    background: var(--bs-white);
}

.icon-sx-margin {
    margin-right: 5px;
}

.nav-item:hover {
    background-color: #3a3a3a;
    border-radius: 5px;
}

.nav-item {
    padding: 3px 7px;
}