<div [ngClass]="{'d-lg-block': !isDNone, 'd-none': isDNone}" class="left-nav p-4 h-100">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href=""><i class="bi bi-home"></i>In primo piano</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-subscriptions"></i>Seguiti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-library"></i>Amici</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-history"></i>Preferiti</a>
        </li>
    </ul>
    <hr>
    <div class="d-flex flex-column mb-2">
        <h3 class="m-0">Utenti seguiti</h3>
    </div>
    <div class="d-flex flex-row">
        <span class="text-secondary" style="font-size: 0.8rem;">Non segui alcun utente </span><span
            style="font-size: 1.1rem;">😞</span>
    </div>
    <hr>
    <div class="d-flex flex-row align-items-center mb-2">
        <h3 class="m-0">Esplora</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mx-1 bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
    </div>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href=""><i class="bi bi-home"></i>In primo piano</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-fire"></i>Tendenze</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-subscriptions"></i>Seguiti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-library"></i>Esplora</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-history"></i>Preferiti</a>
        </li>
    </ul>
    <hr>
    <div class="d-flex flex-row align-items-center mb-2">
        <h3 class="m-0">Il tuo account</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mx-1 bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
    </div>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href=""><i class="bi bi-home"></i>In primo piano</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-fire"></i>Tendenze</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-subscriptions"></i>Seguiti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-library"></i>Esplora</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-history"></i>Preferiti</a>
        </li>
    </ul>
</div>