.left-nav {
    position: fixed;
    height: calc(100vh - 80px);
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #333;
}


::ng-deep .bg-light-mode .left-nav::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
}

.left-nav::-webkit-scrollbar-thumb{
    visibility: hidden;
}

.left-nav:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

::ng-deep .bg-dark-mode .left-nav {
    background: rgb(18, 18, 18);
}

::ng-deep .bg-light-mode .left-nav {
    background: var(--bs-white);
}

.icon-sx-margin {
    margin-right: 5px;
}

::ng-deep .bg-dark-mode .left-nav .nav-item:hover {
    background-color: #3a3a3a;
    border-radius: 5px;
}

::ng-deep .bg-light-mode .left-nav .nav-item:hover {
    background-color: #e1e1e1;
    border-radius: 5px;
}

::ng-deep .bg-dark-mode .left-nav .nav-item.active{
    background-color: #3a3a3a;
    border-radius: 5px;
}

::ng-deep .bg-light-mode .left-nav .nav-item.active {
    background-color: #e1e1e1;
    border-radius: 5px;
}

.nav-item {
    padding: 3px 7px;
}

.user-left-card:hover{
    text-decoration: underline;
}

.user-profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-profile-photo-container {
    width: 34px;
    min-width: 34px;
    height: 34px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50%;
}

.view-all-action:hover{
    color: var(--bs-danger)
}
