<div class="container rounded p-4">
    <div id="our-mission" class="row py-4 px-2 rounded">
        <div class="col-xl-6 col-12 d-flex flex-column border-0 justify-content-center align-items-center p-3 rounded"
            style="overflow: hidden;">
            <video class="rounded"
                src="/assets/videos/exampleEventVideo.mp4" disablepictureinpicture autoplay loop
                controlsList="nofullscreen nodownload noremoteplayback noplaybackrate" style="width: 100%; height: 100%; object-fit: cover;">
                Your browser does not support video
            </video>
        </div>
        <div class="col-xl-6 col-12 d-flex flex-column justify-content-center align-items-center p-3">
            <h1 class="mb-4"><b>La nostra missione</b></h1>
            <h3 class="text-secondary" style="text-align: justify;">
                Unire le persone, una connessione alla volta.

                In un mondo sempre più digitale, crediamo nel potere delle connessioni umane autentiche. La nostra
                missione
                è semplice ma profonda: mettere in contatto le persone. Che tu voglia organizzare una festa, un evento
                culturale, un incontro di lavoro o semplicemente condividere momenti speciali della tua vita, siamo qui
                per
                rendere tutto più facile e coinvolgente.
            </h3>
            <h3 class="text-secondary">Cosa ci distingue:</h3>
            <ul class="text-secondary">
                <li>
                    Facilità di utilizzo: La nostra piattaforma è intuitiva e accessibile a tutti, permettendoti di
                    creare e
                    gestire eventi in pochi click.
                </li>
                <li>
                    Comunità dinamica: Condividi post, partecipa a discussioni e scopri eventi interessanti nella tua
                    area,
                    tutto in un unico luogo.
                </li>
                <li>
                    Connessioni reali: Non ci limitiamo a mettere in contatto persone online; il nostro obiettivo è
                    facilitare
                    incontri e interazioni significative nel mondo reale.
                </li>
                <li>
                    Sicurezza e Privacy: Valorizziamo la tua privacy e la sicurezza delle tue informazioni. Le nostre
                    politiche
                    sono trasparenti e il nostro impegno è proteggere i tuoi dati.
                </li>
            </ul>
            <h3 class="text-secondary">
                Il nostro impegno:
            </h3>
            <span class="text-secondary mb-5">
                Siamo impegnati a costruire una comunità inclusiva e rispettosa, dove ogni voce può essere ascoltata e
                ogni
                incontro può diventare un'opportunità per crescere e imparare. Vogliamo che la nostra piattaforma sia
                uno
                strumento per creare ricordi, costruire relazioni durature e vivere esperienze uniche.
                Unisciti a noi in questo viaggio. Insieme, possiamo rendere il mondo un luogo più connesso e vibrante.
            </span>
            <h2 class="text-secondary">
                Connettiti. Condividi. Crea.
            </h2>
        </div>
    </div>
</div>