<footer class="container-fluid" [ngClass]="darkMode ? 'bg-dark-mode text-white' : 'bg-light-mode text-black' ">
    <div class="footer-wrap">
        <!--<div class="container first_class text">
            <div class="row align-item-center justify-content-center">
                <div class="col-md-12 col-sm-12 mb-3 text-center">
                    <h3 class="color-08">RIMANI AGGIORNATO</h3>
                    <p class="color-06">Per rimanere sempre aggiornato sugli eventi presenti vicino a te, iscriviti alla nostra
                        newsletter</p>
                </div>
                <div class="col-md-8 col-sm-8 text-center">
                    <div class="form-group">
                        <div class="d-flex px-xl-5">
                            <input type="text" placeholder="Indirizzo email..."
                                class="form-control form-newsletter rounded-0 border-end-0 dark-input bgcolor-transparent">
                            <button [ngClass]="darkMode ? 'btn-color-dark-mode' : 'btn-color-light-mode'" class="btn btn-primary rounded-0 bgcolor-transparent">Iscriviti</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->
        <div class="second_class">
            <div class="container second_class_bdr">
                <div class="row">
                    <div class="col-md-4 col-sm-6 color-06">

                        <div class="footer-logo"><img width="250px" [attr.src]="darkMode ? '/assets/img/logo_unievent_white.svg' : '/assets/img/logo_unievent_black.svg'"
                                alt="logo">
                        </div>
                        <p>La piattaforma che da sempre ti consente di trovare i migliori eventi.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="color-08">ASSISTENZA E CONTATTI</h3>
                        <ul class="footer-links" [ngClass]="darkMode ? '' : 'color-06'">
                            <li><a href="/help-e-faq">Help e FAQ</a>
                            </li>
                            <li><a href="/chat">Chatta con noi</a>
                            </li>
                            <li><a href="/ticket-system">Ticket system</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <h3 class="color-08">ABOUT</h3>
                        <ul class="footer-category" [ngClass]="darkMode ? '' : 'color-06'">
                            <li><a href="/our-mission">La nostra missione</a>
                            </li>
                            <li><a href="/our-commitment">Il nostro impegno</a>
                            </li>
                            <li><a href="/partner">Partner</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <h3 class="color-08">Note legali</h3>
                        <ul class="footer-links" [ngClass]="darkMode ? '' : 'color-06'">
                            <li><a href="/privacy-policy">Privacy Policy</a>
                            </li>
                            <li><a href="/cookie-policy">Cookie Policy</a>
                            </li>
                            <li><a href="/terms-of-use">Condizioni di utilizzo</a>
                            </li>
                            <li><a href="/rules">Regolamenti</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-center align-items-center p-3">
            <div class="d-grid justify-content-center align-item-center">
                <span class="color-06"> Copyright {{currentYear}} | All Rights Reserved by Unievent</span>
            </div>
        </div>
    </div>

</footer>