<footer class="container">
    <div class="footer-wrap">
        <div class="row">
            <div class="col">
                <a class="text-secondary link-margin" href="/help-e-faq">Help e FAQ</a>
                <a class="text-secondary link-margin" href="/chat">Chatta con noi</a>
                <a class="text-secondary link-margin" href="/ticket-system">Ticket system</a>
            </div>
            <div class="col">
                <a class="text-secondary link-margin" href="/our-mission">La nostra missione</a>
                <a class="text-secondary link-margin" href="/our-commitment">Il nostro impegno</a>
                <a class="text-secondary link-margin" href="/partner">Partner</a>
            </div>
            <div class="col">
                <a class="text-secondary link-margin" href="/privacy-policy">Privacy Policy</a>
                <a class="text-secondary link-margin" href="/cookie-policy">Cookie Policy</a>
                <a class="text-secondary link-margin" href="/terms-of-use">Condizioni di utilizzo</a>
            </div>
            <div class="col">
                <a class="text-secondary link-margin" href="/rules">Regolamenti</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <span class="text-secondary" style="font-size: 0.8rem;">
                    Copyright {{currentYear}} | All Rights Reserved by Unievent
                </span>
            </div>
        </div>
    </div>
</footer>
