/*
  =========================================================================================
                                    Social Icons
  =========================================================================================
  */


.round-btn {
    display: inline;
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 50%;
    float: left;
    margin: 15px 8px;
    box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
    border: 1px solid;
    /*border: 1px solid #622657;*/
}

.round-btn a {
    display: block !important;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 50%;
}

.round-btn .icon {
    padding: 3px;
}

.round-btn .icon img {
    height: 24px;
    width: 32px;
    margin-top: 6px;
}

.btn-facebook a {
    color: white;
    padding: 8px 13px;
}

.btn-linkedin a {
    color: white;
}

.btn-twitter a {
    color: white;
}

.btn-instagram a {
    color: white;
}

.btn-whatsapp a {
    color: white;
}

.btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 9px 12px;
}

.standard_header .standard_social_links {
    margin-left: 1rem;
}

/*
    =========================================================================================
                                      footer
    =========================================================================================
    */

.footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-links li a:hover{
    text-decoration: underline;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li a:hover {
    text-decoration: underline;
}


.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {

    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #181818;
}

footer .second_class {
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}

footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}

footer .first_class p,
footer .first_class h3 {
    margin: 0 0;

}

footer {
    background: #121212;
    border-top: 1px solid #383838;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 8px 12px;
    border-radius: 10px;
}


footer .second_class_bdr {
    padding-top: 25px;
    //border-top: 1px solid #222;
}

footer .btn-facebook a,
footer .btn-instagram a,
footer .btn-tiktok a {
    margin-top: 2px;
    margin-right: 3px;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
    margin: 15px 4px;
}

footer dl,
ol,
ul {
    padding-left: 5px;
}

footer li {
    list-style: none;
}

@media(max-width:768px) {
    .footer-wrap h3 {
        margin-top: 27px;
    }

    footer .round-btn {
        margin: 15px 4px;
    }
}

@media(max-width:320px) {
    .copyright {
        font-size: 13px;
    }
}

.form-newsletter:focus {
    border: 1px solid #ff0400 !important;
    border-right: 0px !important
}

.bg-dark-mode input::placeholder, .bg-dark-mode input {
    color: rgb(255, 255, 255) !important;
}

.bg-light-mode .color-06 a,  .bg-light-mode .color-06 p, .bg-light-mode p.color-06 {
    color: rgba(22, 24, 35, 0.6) !important;
}

.bg-light-mode .color-06 a:hover {
    color: rgba(22, 24, 35, 1) !important;
}

.bg-light-mode .color-08{
    color: rgba(22, 24, 35, 0.8) !important;
}

.bg-light-mode{
    background: white;
}