<div class="container">
    <div class="row my-4">
        <div class="col-xl-9 col-12 px-5">
            <div class="d-flex align-item-center my-3 pointer" style="font-size:14px;">
                <i (click)="goBack()" class="gg-arrow-left"></i>
                <span style="margin-top: 2px; margin-left:2px;" (click)="goBack()">Torna indietro </span>
            </div>
            <div class="d-flex justify-content-between align-item-center my-3" style="font-size: 18px;">
                <span style="margin-top: 2px; margin-left:2px;">Carrello </span>
                <div>
                    <span class="" style="margin-top: 2px; margin-left:2px;">{{totalTicket}} {{totalTicket === 1 ?
                        'Biglietto' :
                        'Biglietti' }} - </span><span class="text-event-color-primary">€{{totalTicketPrice}}</span>
                </div>

            </div>
            <div class="card border-0 cart-container shadow">
                <img [attr.src]="eventData?.t_image_link"
                    style="max-height: 300px;width: -webkit-fill-available; object-fit: cover;" />
                <div class="card-body">
                    <div class="d-flex flex-column my-3 p-3 rounded" *ngFor="let object of eventTicketList">
                        <div class="d-flex justify-content-between">
                            <span class="h5">1x {{eventData.t_title}}</span>
                            <span>{{getTicketPriceString(object.n_object_price)}}</span>
                        </div>
                        <br>
                        <span>{{eventData.t_location.t_city|uppercase}}, {{eventData.t_location.t_location_name}}</span>
                        <span>{{eventData.t_event_date | dateFormat:"DD-MM-YYYY HH:mm"}}</span>
                        <br>
                        <span *ngIf="eventData.t_user">Organizzatore: {{eventData.t_user?.t_name}}</span>
                        <br>
                        <span>{{getTicketName(object.t_type)}}, Intero</span>
                        <div *ngIf="object.t_object_commissions" class="d-flex justify-content-between">
                            <span>{{object.t_object_commissions.commission_type}}</span>
                            <span>€ {{object.t_object_commissions.commission_price}}</span>
                        </div>
                        <br>
                        <ng-container *ngIf="object.t_seat_list.length > 1">
                            <div class="d-flex">
                                <span>Numero posti: {{getNumeroPosti(object)}}</span>
                            </div>
                        </ng-container>
                        <span *ngIf="object.t_seat_list.length === 1">Numero posto:
                            {{object.t_seat_list[0].n_seat_num}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-12 py-5">
            <span *ngIf="isAvailableTimeout" class="text-success">I tuoi biglietti sono ancora disponibili</span>
            <span *ngIf="!isAvailableTimeout" class="text-danger">I tuoi biglietti non sono più disponibili</span>
            <div class="alert alert-success d-flex justify-content-start align-item-center p-2"
                [ngClass]="isAvailableTimeout ? 'alert-success' : 'alert-danger' ">
                <span class="mx-2">Tempo Residuo:</span>
                <div class="d-flex flex-row">
                    <span #days></span> <span class="mx-1">g,</span>
                    <span #hours></span> <span class="mx-1">h,</span>
                    <span #minutes></span> <span class="mx-1">m,</span>
                    <span #seconds></span> <span class="mx-1">s</span>
                </div>
            </div>
            <div class="card overview-container">
                <div class="card-body">
                    <h2 class="card-title">Riepilogo</h2>
                    <div *ngFor="let object of eventTicketList" class="d-flex justify-content-between mb-3">
                        <span class="text-secondary">1x {{eventData.t_title}}, {{getTicketName(object.t_type)}}</span>
                        <span class="text-secondary" style="min-width:60px">{{getTicketPriceString(object.n_object_price)}}</span>
                    </div>
                    <div class="border-bottom"></div>
                    <div class="d-flex justify-content-between mt-3">
                        <h4>Totale biglietti: </h4>
                        <h4 >€ {{totalTicketPriceWithoutCommission}}</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5 class="text-secondary">Commissioni di servizio: </h5>
                        <h5 class="text-secondary">€ {{serviceCommission}}</h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="h6">Totale</span>
                        <span class="h6"
                            [ngClass]="isCoupon ? 'text-decoration-line-through' : '' ">€{{totalTicketPrice}}</span>
                    </div>
                    <div *ngIf="isCoupon" class="d-flex justify-content-end" style="margin-top: -10px;">
                        <h4>{{newCouponPrice}}</h4>
                    </div>
                    <div *ngIf="isCoupon" class="d-flex justify-content-between">
                        <h5>Coupon applicato: </h5>
                        <h5>{{applyedCoupon.code}}</h5>
                    </div>
                    <div *ngIf="isCoupon" class="d-flex justify-content-between">
                        <h5>Sconto applicato: </h5>
                        <h5>{{applyedCoupon.sconto}}%</h5>
                    </div>
                    <h5 class="text-secondary">incl. IVA, più costi di consegna/servizio</h5>
                    <button class="my-2 btn btn-color-no-hover text-white rounded-1 w-100"
                        (click)="goToBuyStepper()">Procedi all'acquisto</button>
                </div>
            </div>
            <div class="d-flex flex-column w-100 my-2">
                <span class="h6 py-2 border-bottom w-100">Codice sconto</span>
            </div>
            <div class="d-flex coupon-code">
                <input (focus)="dynamicClass='add-focus'" #couponCode (focusout)="dynamicClass=''" type="text"
                    class="form-control border-0 rounded-0 coupon-input" aria-label="Coupon">
                <span (keyup.enter)="applyCoupon()" (click)="applyCoupon()"
                    class="input-group-text border-start-0 rounded-0 btn-color-no-hover text-white pointer"
                    [ngClass]="dynamicClass"><i class="gg-arrow-long-right"></i></span>
            </div>
            <div class="d-flex my-2">
                <span class="text-success" *ngIf="isCoupon && successApplyCoupon">Coupon applicato con successo</span>
                <span class="text-danger" *ngIf="!isCoupon && getCouponValue() != '' && successApplyCoupon==false">Coupon
                    non esistente</span>
            </div>
        </div>
    </div>
</div>