::ng-deep body.overflow-y-scroll-force {
    overflow-y: scroll !important;
}

::ng-deep body.overflow-y-scroll-none {
    overflow: hidden !important;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(184, 184, 184);
}

::ng-deep .bg-dark-mode ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bs-gray-800);
}

.reply-list-container {
    background: var(--bs-light);
    overflow: hidden;
    overflow-y: scroll;
    max-height: 550px;
}

::ng-deep .bg-dark-mode .reply-list-container {
    background: var(--bs-dark) !important;
}

.reply-ticket-container {
    background: var(--bs-light);
    margin-top: 20px;
}

::ng-deep .bg-dark-mode .reply-ticket-container {
    background: var(--bs-dark) !important;
}

.reply-user-container {
    background-color: #efefef;
    color: var(--bs-dark);
}

::ng-deep .bg-dark-mode .reply-user-container {
    background-color: var(--bs-gray-800);
    color: var(--bs-white);
}

.reply-operator-container {
    background-color: #bfbfbf;
    color: var(--bs-dark);
}

::ng-deep .bg-dark-mode .reply-operator-container {
    background-color: #454e57;
    color: var(--bs-white);
}

.attachment {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
}

.reply-ticket-panel textarea {
    min-height: 220px;
}

.reply-ticket-panel,
.reply-ticket-panel textarea,
.new-ticket-multimedial {
    background-color: var(--bs-light);
}

::ng-deep .bg-dark-mode .reply-ticket-panel {
    background-color: var(--bs-dark) !important;
    color: var(--bs-white)
}

.reply-ticket-panel textarea,
.new-ticket-multimedial {
    background-color: var(--bs-border-color);
    color: var(--bs-dark);
    padding: 10px;
    border: none !important;
    border-radius: 5px;
}

::ng-deep .bg-dark-mode .reply-ticket-panel textarea,
::ng-deep .bg-dark-mode .new-ticket-multimedial {
    background-color: var(--bs-gray-800) !important;
    color: var(--bs-white) !important;
}

.reminder{
    background: cadetblue;
}