<div class="p-4 d-flex flex-column align-items-center" *ngIf="currentTicketPanel === 'ticket-list' ">
    <h1>Lista ticket</h1>
    <div class="d-flex flex-row justify-content-end align-items-center mb-3 mx-4 w-100">
        <button class="btn btn-secondary" (click)="currentTicketPanel='ticket-new'">Apri Nuovo</button>
    </div>
    <div class="container ticket-list-container">
        <table mat-table [dataSource]="ticketData" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrizione Problema </th>
                <td mat-cell *matCellDef="let row">
                    <div class="description-cell" [innerHTML]="truncateDescription(row.description)"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stato </th>
                <td mat-cell *matCellDef="let row"> <span *ngIf="row.status === 'Necessaria risposta' ">
                        <svg style="color:coral" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </span> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Azioni </th>
                <td mat-cell *matCellDef="let row">
                    <button class="btn btn-secondary" (click)="showDetails(row)">Dettaglio</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div class="p-4 new-ticket-container" *ngIf="currentTicketPanel === 'ticket-new' ">
    <div class="new-ticket-panel rounded d-flex flex-column p-3">
        <h1>Nuovo Ticket</h1>
        <h4>Descrivi il tuo problema</h4>
        <textarea placeholder="Inserisci quanti più dettagli possibili" rows="10" style="resize: none;"
            [(ngModel)]="ticketDescription" (keyup)="updateCharacterCount()"></textarea>
        <div class="character-count mr-auto mt-2 text-secondary">Caratteri: <span
                [ngClass]="characterCount > 0 && characterCount < 10 ? 'text-danger' : '' ">{{ characterCount }}</span>
            / 1000 (Minimo 10 caratteri)</div>
        <div class="mt-4">Carica dei file multimediali per descrivere il tuo problema (Opzionale)</div>

        <input type="file" #fileInput style="display: none" (change)="handleFileInput(fileInput)">
        <div class="d-flex flex-column new-ticket-multimedial pointer justify-content-center align-items-center mt-2"
            style="max-width: 70px;" (click)="openImageUploadPanel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-card-image"
                viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                <path
                    d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54L1 12.5v-9a.5.5 0 0 1 .5-.5z" />
            </svg>
            <span class="text-secondary">{{ uploadedFiles.length }} / 4</span>
        </div>

        <div *ngIf="uploadedFiles.length > 0" class="uploaded-files d-flex flex-row gap-3">
            <div *ngFor="let file of uploadedFiles" class="uploaded-file d-flex flex-column mt-3">
                <img (click)="openImage(getFileObjectURL(file))" style="cursor:zoom-in" class="rounded" width="125"
                    *ngIf="file.type.startsWith('image')" [src]="getFileObjectURL(file)" alt="Anteprima immagine">
                <span *ngIf="!file.type.startsWith('image')">{{ file.name }}</span>
                <div class="d-flex flex-row gap-3 justify-content-center mt-2">
                    <svg (click)="downloadFile(getFileObjectURL(file))" matTooltip="Scarica"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-download pointer" viewBox="0 0 16 16">
                        <path
                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                        <path
                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                    </svg>
                    <svg matTooltip="Elimina" (click)="removeUploadedFile(file)" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="currentColor" class="bi bi-trash3 pointer" viewBox="0 0 16 16">
                        <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    </svg>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-end align-items-center">
            <button (click)="openTicket()" class="btn btn-danger mt-4"
                [disabled]="ticketDescription.length < 10 || ticketDescription.length > 1000"
                style="min-width: 200px; max-width: 200px;">Invia</button>
        </div>
    </div>
</div>