h4.active {
    color: var(--bs-dark) !important;
    padding-left: 12px !important;
    background: var(--bs-border-color);
    border-left: 3px solid var(--bs-danger);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::ng-deep .bg-dark-mode h4.active {
    color: var(--bs-white) !important;
    background: var(--bs-gray-800);
    border-left: 3px solid var(--bs-danger);
}

::ng-deep .bg-dark-mode h4.active {
    color: var(--bs-white) !important;
}

::ng-deep body {
    overflow-y: hidden;
}

/*::-webkit-scrollbar {
    display: none;
}*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(184, 184, 184);
}

::ng-deep .bg-dark-mode ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bs-gray-800);
}

.content-container,
.sidebar-container {
    background: var(--bs-light);
}

::ng-deep .bg-dark-mode .content-container,
::ng-deep .bg-dark-mode .sidebar-container {
    background: var(--bs-dark);
}

.collapse-link{
    color: var(--bs-dark);
}

::ng-deep .bg-dark-mode .collapse-link{
    color: var(--bs-white);
}

.frequently-answers-img{
    width: -webkit-fill-available !important;
}