<div class="container-fluid card p-3">
    <div class="py-2 form-check d-flex justify-content-between align-item-center border-bottom">
        <div>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" style="margin-top:6px; margin-left:6px;" for="flexRadioDefault1">Corriere espresso Italia</label>
        </div>
        <div>
            <label style="margin-top:6px;">€ 9,99</label>
        </div>
    </div>
    <div class="py-2 form-check d-flex justify-content-between align-item-center">
        <div>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" style="margin-top:6px; margin-left:6px;" for="flexRadioDefault2">Ticket Digitale</label>
        </div>
        <div>
            <label style="margin-top:6px;">€ 0,00</label>
        </div>
    </div>
</div>