<div class="shadow container-fluid card p-3 form-step-1-container border-0">
    <div class="py-2 form-check d-flex justify-content-between align-item-center">
        <div>
            <input class="pointer form-check-input" type="radio" name="shippingMethod" id="expressShipping" value="Corriere espresso Italia" [(ngModel)]="selectedShippingMethod">
            <label class="pointer form-check-label" style="margin-top:6px; margin-left:6px;" for="expressShipping">Corriere espresso Italia</label>
        </div>
        <div>
            <label style="margin-top:6px;">€ 9,99</label>
        </div>
    </div>
    <hr class="my-2">
    <div class="py-2 form-check d-flex justify-content-between align-item-center">
        <div>
            <input class="pointer form-check-input" type="radio" name="shippingMethod" id="digitalTicket" value="Ticket Digitale" [(ngModel)]="selectedShippingMethod">
            <label class="pointer form-check-label" style="margin-top:6px; margin-left:6px;" for="digitalTicket">Ticket Digitale</label>
        </div>
        <div>
            <label style="margin-top:6px;">€ 0,00</label>
        </div>
    </div>
</div>
