<div class="container p-3">
    <div *ngIf="step == 1" class="d-flex flex-column rounded content-container p-3 shadow">
        <h1 class="mt-3 px-3">Crea Contenuto</h1>
        <div class="d-flex flex-row justify-content-center align-items-center gap-3 p-3 h-100">
            <div [ngClass]="selectedContentType === 'Event' ? 'active' : '' "
                class="p-5 col-6 rounded event-option-container pointer d-flex flex-column justify-content-center align-items-center"
                (click)="selectedContentType = 'Event'">
                <svg [ngClass]="selectedContentType === 'Event' ? 'active' : '' " xmlns="http://www.w3.org/2000/svg"
                    width="78" height="78" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                </svg>
                <div class="d-flex flex-row mt-3">
                    <input style="width: 22px; height: 22px;" [(ngModel)]="selectedContentType" type="radio"
                        name="selectedContentType" value="Event">
                    <span style="font-size: 20px; margin-top: 1px;" class="mx-1">Evento</span>
                </div>
                <span style="text-align: justify;" class="caption text-secondary mt-3">Crea un nuovo evento e
                    raggiungi il tuo pubblico velocemente, grazie agli strumenti messi a dispozione dalla
                    piattaforma, come la scelta della mappa, il layout dei posti e il prezzo del biglietto.</span>
            </div>
            <div [ngClass]="selectedContentType === 'Topic' ? 'active' : '' "
                class="p-5 col-6 rounded topic-option-container pointer d-flex flex-column justify-content-center align-items-center"
                (click)="selectedContentType = 'Topic'">
                <svg xmlns="http://www.w3.org/2000/svg" width="78" height="78" fill="currentColor"
                    class="bi bi-chat-square-text" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                    <path
                        d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                </svg>
                <div class="d-flex flex-row mt-3">
                    <input style="width: 22px; height: 22px;" [(ngModel)]="selectedContentType" type="radio"
                        name="selectedContentType" value="Topic">
                    <span style="font-size: 20px; margin-top: 1px;" class="mx-1">Topic</span>
                </div>
                <span style="text-align: justify;" class="caption text-secondary mt-3">Crea un nuovo topic
                    (argomento) e discuti con altre persone di tutti gli argomenti che ti interessano. I topic
                    possono essere foto oppure video.</span>
            </div>
        </div>
        <div class="p-5 text-end" *ngIf="step == 1">
            <button class="btn btn-danger rounded-0" (click)="incrementStep()">Avanti</button>
        </div>
    </div>
    <div *ngIf="step == 2" class="d-flex flex-column rounded content-container p-3 shadow">
        <div class="container h-100">
            <div [class.activedrag]="isDraggedOver"
                class="file-upload pointer rounded h-100 d-flex flex-column gap-1 justify-content-center align-items-center"
                (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
                <div class="d-flex flex-column gap-1 justify-content-center align-items-center"
                    (click)="fileInput.click()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor"
                        class="bi bi-cloud-upload" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                        <path fill-rule="evenodd"
                            d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z" />
                    </svg>
                    <h3>
                        Seleziona un video o una foto da caricare
                    </h3>
                    <h3>
                        o trascina e rilascia un file
                    </h3>
                    <h5>
                        Formati consentiti: mp4, webm, jpeg, png, jpeg
                    </h5>
                    <h5><b>Fino a 1 GB</b></h5>
                </div>
                <button class="btn btn-xl btn-danger" style="width: 180px;" type="button"
                    (click)="fileInput.click()">SELEZIONA FILE</button>
                <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)" />
            </div>
        </div>
    </div>
    <div *ngIf="step == 3" class="d-flex flex-column rounded upload-esit-container p-3 shadow">
        <div *ngIf="selectedFile" class="d-flex flex-row align-items-center justify-content-center mb-3">
            <div class="col-8">
                <h2 class="m-0 mb-2">{{ selectedFile.name }}</h2>
                <div class="d-flex flex-row gap-5">
                    <p>Dimensione: {{ selectedFile.size / (1024 * 1024) | number:'1.2-2' }} MB</p>
                </div>
                <div *ngIf="uploadProgress !== null">
                    <p>MB caricati: {{ (uploadProgress || 0) * selectedFile.size / 100 / (1024 * 1024) | number:'1.2-2'
                        }}
                        MB / {{selectedFile.size / (1024 * 1024)| number:'1.2-2'}} MB</p>
                    <p>Percentuale completamento: {{ uploadProgress }}%</p>
                </div>
            </div>
            <div *ngIf="previewUrl" class="col-4 text-end">
                <img class="rounded" style="width:180px; max-width: -webkit-fill-available;" [src]="previewUrl"
                    alt="Anteprima file">
            </div>
        </div>
        <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
    </div>
    <div *ngIf="step == 3" class="d-flex flex-column rounded upload-esit-container p-3 shadow mt-3 gap-3">
        <div class="d-flex flex-column">
            <h3>Descrizione *</h3>
            <textarea rows="4" [attr.maxlength]="maxTextAreaCharacter" (input)="updateCharacterCount()"
                (blur)="removeListner()" #descriptionTextarea class="no-resize rounded border-0 px-2 py-1"
                style="border-bottom-left-radius: 0px !important; border-bottom-right-radius: 0px !important;"></textarea>
            <div class="d-flex flex-row justify-content-between rounded bottom-textarea-container"
                style="border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; background:white;">
                <div class="d-flex flex-row gap-3 mx-2 ">
                    <span (click)="addHashtag()" class="text-secondary pointer">#Hashtag</span>
                    <span (click)="addTag()" class="text-secondary pointer">@Menziona</span>
                </div>
                <div class="text-secondary pointer mx-2">
                    {{getCharacterCount()}}/{{maxTextAreaCharacter}}
                </div>
            </div>
            <div *ngIf="suggestArrayFiltered?.length > 0" class="suggestContainer mt-2 rounded d-flex flex-column">
                <!-- Pannello suggerimenti -->
                <ng-container *ngFor="let el of suggestArrayFiltered">
                    <span (click)="addSuggestToTagArea(el)" class="pointer p-3">{{el}}</span>
                </ng-container>
            </div>
            <div *ngIf="suggestUserArrayFiltered?.length > 0" class="suggestContainer mt-2 rounded d-flex flex-column">
                <!-- Pannello suggerimenti utente -->
                <ng-container *ngFor="let el of suggestUserArrayFiltered">
                    <span (click)="addSuggestToTagArea(el.t_alias_generated)"
                        class="pointer p-3">{{el.t_alias_generated}}</span>
                </ng-container>
            </div>
            <div *ngIf="tagArray?.length > 0" class="mt-2 rounded d-flex flex-column">
                <h3>Menzioni</h3>
                <div class="d-flex flex-row">
                    <ng-container *ngFor="let el of tagArray">
                        <div class="p-2 suggestContainer rounded mx-2">
                            <span style="margin-right:7px; margin-top:2px">{{el}}</span>
                            <svg (click)="removeTagElement(el)" style="border-left: 1px solid #ffffff;"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-x suggestContainer p-0 pointer" viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div *ngIf="hashTagArray?.length > 0" class="mt-2 rounded d-flex flex-column">
                <h3>Hashtag</h3>
                <div class="d-flex flex-row">
                    <ng-container *ngFor="let el of hashTagArray">
                        <div class="p-2 suggestContainer rounded mx-2">
                            <span style="margin-right:7px; margin-top:2px">{{el}}</span>
                            <svg (click)="removeHashTagElement(el)" style="border-left: 1px solid white;"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-x suggestContainer p-0 pointer" viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <h3>Copertina</h3>
            <div class="card d-flex flex-column card-image border-0" style="padding-top: 280px;
                    overflow: hidden;
                    border-radius: 5px;
                    width: 190px;">
                <picture class="picture-container pointer">
                    <a tabindex="-1">
                        <div class="thumbnail">
                            <div *ngIf="selectedFile.type.startsWith('video')" style="z-index: 3;
                                position: absolute;
                                inset: 0px;
                                box-sizing: border-box;
                                padding: 0px;
                                border: none;
                                margin: auto;
                                display: block;
                                min-width: 100%;
                                max-width: 100%;
                                min-height: 100%;
                                max-height: 100%;
                                text-align: center;
                                object-position: center;
                                align-content: center;">
                                <span (click)="inputCoverFile.click()" class="rounded edit-cover-container shadow">
                                    <input accept="image/*" #inputCoverFile type="file" style="display: none;"
                                        (change)="onCoverFileSelected($event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        class="bi bi-file-image-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M4 0h8a2 2 0 0 1 2 2v8.293l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2m4.002 5.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                                        <path
                                            d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z" />
                                    </svg>
                                    Modifica</span>
                            </div>
                            <div style="z-index: 2;
                            background: #00000042;
                            position: absolute;
                            inset: 0px;
                            box-sizing: border-box;
                            padding: 0px;
                            border: none;
                            margin: auto;
                            display: block;
                            min-width: 100%;
                            max-width: 100%;
                            min-height: 100%;
                            max-height: 100%;"></div>
                            <img [src]="coverUrl" alt="Video Thumbnail" class="picture-preview" style="position: absolute;
                                    inset: 0px;
                                    box-sizing: border-box;
                                    padding: 0px;
                                    border: none;
                                    margin: auto;
                                    display: block;
                                    width: 0px;
                                    height: 0px;
                                    min-width: 100%;
                                    max-width: 100%;
                                    min-height: 100%;
                                    max-height: 100%;
                                    object-fit: cover;">
                        </div>
                    </a>
                </picture>
            </div>
        </div>
        <div class="d-flex flex-column">
            <h3>Data evento *</h3>
            <input type="text" class="form-control border-0 card-input" id="t_event_date" name="t_event_date"
                placeholder="DD/MM/YYYY" required (bsValueChange)="updateEventDate($event)" bsDatepicker [bsConfig]="{
                minMode: 'day',
                adaptivePosition: true,
                dateInputFormat: 'DD/MM/YYYY',
                minDate: minExpiryDate
            }">
        </div>
        <div class="d-flex flex-column location">
            <h3>Dove si svolge l'evento? *</h3>
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <label for="t_address" class="form-label">Indirizzo *</label>
                    <input type="text" class="form-control address-input border-0" id="t_address"
                        [(ngModel)]="locationData.t_address">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="t_city" class="form-label">Città *</label>
                        <input type="text" class="form-control address-input border-0" id="t_city"
                            [(ngModel)]="locationData.t_city">
                    </div>
                    <div class="col">
                        <label for="t_cap" class="form-label">Cap *</label>
                        <input type="number" class="form-control address-input border-0" id="t_cap"
                            [(ngModel)]="locationData.t_cap">
                    </div>
                    <div class="col">
                        <label for="t_province" class="form-label">Provincia *</label>
                        <input type="text" class="form-control address-input border-0" id="t_province"
                            [(ngModel)]="locationData.t_province">
                    </div>
                    <div class="col">
                        <label for="t_state" class="form-label">Stato *</label>
                        <input type="text" class="form-control address-input border-0" id="t_state"
                            [(ngModel)]="locationData.t_state">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="t_location_name" class="form-label">Nome località *</label>
                        <input type="text" class="form-control address-input border-0" id="t_location_name"
                            [(ngModel)]="locationData.t_location_name">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <h3>Evento collegato</h3>
            <ng-select [items]="filteredRelatedEvents" placeholder="Ricerca Evento" bindLabel="t_caption" bindValue="id"
                (search)="searchEvent($event.term, $event.items)" [searchable]="true" (change)="changeEvent($event)">
                <ng-template ng-option-tmp let-item="item">
                    <div class="d-flex align-items-center gap-3">
                        <span>{{ item.t_caption }}</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>
        <div class="d-flex flex-column">
            <h3>Chi può vedere questo contenuto? *</h3>
            <div class="d-flex">
                <select [(ngModel)]="privacyContent" class="pointer" name="privacy" id="privacy">
                    <option value="all">Tutti</option>
                    <option value="amici">Amici</option>
                    <!--Solo gli utenti che si followano tra di loro sono considerati amici-->
                    <option value="onlyu">Solo tu</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end gap-3 mt-3">
            <button class="btn btn-sm btn-secondary rounded-0" (click)="discard()">Scarta</button>
            <button [disabled]="!isValidStep3()" *ngIf="selectedContentType==='Topic'"
                class="btn btn-sm btn-danger rounded-0" (click)="publicContent()">Pubblica</button>
            <button [disabled]="!isValidStep3()" *ngIf="selectedContentType==='Event'"
                class="btn btn-sm btn-danger rounded-0" (click)="incrementStep()">Avanti</button>
        </div>
    </div>
    <div *ngIf="step == 4" class="d-flex flex-column rounded upload-esit-container p-3 shadow mt-3 gap-3">
        <h1>Scelta Mappa</h1>
        <div class="d-flex justify-content-end mb-2">
            <button *ngIf="selectedMap" class="btn btn-sm btn-secondary" (click)="deleteCurrentMap()">Elimina
                Mappa</button>
            <button *ngIf="selectedMap && selectedMapType" (click)="openAddElementToCurrentMapPanel()"
                class="btn btn-sm btn-secondary mx-3">Aggiungi
                Elemento</button>
            <button class="btn btn-sm btn-secondary" (click)="openAddMapPanel()">Aggiungi Mappa</button>
        </div>
        <div class="d-flex flex-row row">
            <div class="col-xl-3 mb-2 mb-md-0">
                <div class="form-group">
                    <span>Seleziona Mappa</span>
                    <ng-select class="bgcolor-transparent" [items]="mapArray" [(ngModel)]="selectedMap"
                        bindLabel="t_map_name" bindValue="t_map_id" placeholder="Seleziona mappa"
                        (change)="onMapSelectionChanged($event)">
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 mb-2 mb-md-0">
                <div class="form-group">
                    <span>Tipo Mappa</span>
                    <ng-select class="bgcolor-transparent" (change)="changeMapType()" [items]="mapTypeArray"
                        [(ngModel)]="selectedMapType" [clearable]="false" placeholder="Seleziona tipo mappa"
                        [disabled]="!selectedMap">
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 mb-2 mb-md-0">
                <div class="form-group">
                    <span>Numero righe</span>
                    <input min="1" [disabled]="!selectedMap || !selectedMapType" (keyup)="resizeMap(1)"
                        class="form-control" [(ngModel)]="numRows" type="number">
                </div>
            </div>
            <div class="col-xl-3 mb-2 mb-md-0">
                <div class="form-group">
                    <span>Numero colonne</span>
                    <input min="1" max="10" [disabled]="!selectedMap || !selectedMapType" (keyup)="resizeMap(2)"
                        [(ngModel)]="numColumns" class="form-control" type="number">
                </div>
            </div>
            <div class="d-flex flex-row justify-content-end gap-3 mt-3">
                <button class="btn btn-sm btn-secondary rounded-0" (click)="discard()">Scarta</button>
                <button [disabled]="!isValidStep4()" *ngIf="selectedContentType==='Event'"
                    class="btn btn-sm btn-danger rounded-0" (click)="publicContent()">Pubblica</button>
            </div>
        </div>
    </div>
    <div *ngIf="step == 4 && currentSelectedMap"
        class="d-flex flex-column rounded upload-esit-container p-3 shadow mt-3 gap-3">
        <div class="d-flex justify-content-between align-content-center">
            <h1>{{currentSelectedMap.t_map_name}}</h1>
            <button class="btn btn-sm btn-secondary" (click)="automaticFillSeat()">Riempimento automatico</button>
        </div>
        <div *ngIf="currentSelectedMap" class="row shadow m-2 rounded p-3 event-plan-list-container"
            style="overflow-x:scroll">
            <div class="d-flex justify-content-between align-items-center p-0"
                *ngFor="let row of seatMapList; let i = index">
                <div style="border: 1px dashed !important; margin-bottom: 8px; margin-left:5px; margin-right:5px"
                    *ngFor="let object of row; let j = index">
                    <div (click)="showTicketDetail(object, i, j)" *ngIf="object.n_id"
                        [ngClass]="object.is_acquistabile ? '' : 'not-buy'"
                        class="d-none d-xl-flex rounded justify-content-center align-items-center pointer border m-2"
                        [matTooltip]="'Modifica'" matTooltipPosition="above"
                        [style]="object.n_obj_map_width && object.n_obj_map_height ? 
                        'width:'+object.n_obj_map_width+'px; height:'+object.n_obj_map_height+'px;background:'+object.n_obj_map_fill+';':'min-width:80px;height:40px;'">
                        {{object.n_obj_map_text ? object.n_obj_map_text : object.t_seat_list[0].n_seat_num}}</div>
                    <div (click)="showTicketDetail(object, i, j)" *ngIf="object.n_id"
                        [ngClass]="object.is_acquistabile ? '' : 'not-buy'" [matTooltip]="'Modifica'"
                        matTooltipPosition="above"
                        class="d-flex d-xl-none rounded justify-content-center align-items-center pointer border"
                        [style]="'background:'+object.n_obj_map_fill+';'"
                        style="min-width: 15px;min-height: 15px;border-radius: 56px !important; margin:5px; font-size:8px;">
                        <span
                            [ngClass]="!object.n_obj_map_text ? 'd-none d-lg-block mx-2' : 'mx-2'">{{object.n_obj_map_text
                            ? object.n_obj_map_text : object.t_seat_list[0].n_seat_num}}</span>
                    </div>
                    <div *ngIf="!object.n_id" style="width: 40px;height: 20px;border-radius: 56px !important;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showAddMap" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Aggiungi Mappa</h2>
            <span style="font-size:38px;" class="pointer" (click)="clearAddMap()" aria-hidden="true">&times;</span>
        </div>
        <form [formGroup]="formMap" #formAddMap="ngForm" (ngSubmit)="addMap(formAddMap)">
            <div class="form-group">
                <label>Nome Mappa</label>
                <input class="form-control" type="text" name="mapName" formControlName="mapName" required>
            </div>
            <div class="form-group">
                <span>Tipo Mappa</span>
                <ng-select class="bgcolor-transparent" [items]="mapTypeArray" [clearable]="false"
                    placeholder="Seleziona tipo mappa" name="mapType" formControlName="mapType" required>
                </ng-select>
            </div>
            <div class="form-group">
                <span>Numero righe</span>
                <input min="1" max="20" [disabled]="!selectedMap || !selectedMapType" class="form-control" type="number"
                    name="numRows" formControlName="numRows" required>
            </div>
            <div class="form-group">
                <span>Numero colonne</span>
                <input min="1" max="20" [disabled]="!selectedMap || !selectedMapType" class="form-control" type="number"
                    name="numColumns" formControlName="numColumns" required>
            </div>
            <button class="btn btn-secondary btn-sm" (click)="clearAddMap()">Annulla</button>
            <button class="btn btn-danger btn-sm" type="submit" [disabled]="!formAddMap.valid">Aggiungi</button>
        </form>
    </div>
</div>

<div *ngIf="showAddElement" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Aggiungi Elemento</h2>
            <span style="font-size:38px;" class="pointer" (click)="closeAddElementToCurrentMapPanel()"
                aria-hidden="true">&times;</span>
        </div>
        <form class="row" [formGroup]="formAddElementToMap" #formAddElementToMapContainer="ngForm"
            (ngSubmit)="addElementToCurrentMap(formAddElementToMapContainer)">
            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-12">
                <span>Nome elemento</span>
                <input class="form-control" type="text" name="n_obj_map_text" formControlName="n_obj_map_text" required>
            </div>
            <div class="form-group col-6">
                <span>Tipo Elemento</span>
                <ng-select class="bgcolor-transparent" [items]="objectTypeArray" [clearable]="false"
                    placeholder="Seleziona tipo elemento" name="elementType" formControlName="elementType" required>
                </ng-select>
            </div>
            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-6">
                <span>Costo in euro</span>
                <input min="1" step="0.01" class="form-control" type="number" name="price" formControlName="price"
                    required>
            </div>

            <div class="form-group col-4">
                <span>Posizione X</span>
                <input min="0" max="10" step="1" class="form-control" type="number" name="xPos" formControlName="xPos"
                    required>
            </div>
            <div class="form-group col-4">
                <span>Posizione Y</span>
                <input min="0" max="10" step="1" class="form-control" type="number" name="yPos" formControlName="yPos"
                    required>
            </div>

            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-4">
                <span>Numero min. persone</span>
                <input min="0" max="10" step="1" class="form-control"
                    (change)="checkNumMinMaxPerson(1,formAddElementToMapContainer)" type="number"
                    name="n_min_num_person" formControlName="n_min_num_person" required>
            </div>
            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-4">
                <span>Numero max. persone</span>
                <input min="0" max="10" step="1" class="form-control"
                    (change)="checkNumMinMaxPerson(1,formAddElementToMapContainer)" type="number"
                    name="n_max_num_person" formControlName="n_max_num_person" required>
            </div>
            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-4">
                <span>Colore elemento</span>
                <input style="min-height:38px" class="form-control n_obj_map_fill" type="color" name="n_obj_map_fill"
                    formControlName="n_obj_map_fill">
            </div>
            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-12">
                <span>Nota (Informazioni aggiuntive)</span>
                <textarea class="form-control" name="t_note" rows="5" (resize)="false" formControlName="t_note"
                    style="resize: none;"></textarea>
            </div>
            <div *ngIf="formAddElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group">
                <span>Acquistabile? </span>
                <input type="checkbox" name="is_acquistabile" formControlName="is_acquistabile">
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary btn-sm" (click)="closeAddElementToCurrentMapPanel()">Annulla</button>
                <button class="btn btn-danger btn-sm" type="submit"
                    [disabled]="!formAddElementToMapContainer.valid">Aggiungi</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="showEditElement" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Modifica Elemento</h2>
            <span style="font-size:38px;" class="pointer" (click)="closeEditElement()" aria-hidden="true">&times;</span>
        </div>
        <form class="row" [formGroup]="formEditElementToMap" #formEditElementToMapContainer="ngForm"
            (ngSubmit)="editElementToCurrentMap(formEditElementToMapContainer)">
            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-12">
                <span>Nome elemento</span>
                <input class="form-control" type="text" name="n_obj_map_text" formControlName="n_obj_map_text" required>
            </div>
            <div class="form-group col-6">
                <span>Tipo Elemento</span>
                <ng-select class="bgcolor-transparent" [items]="objectTypeArray" [clearable]="false"
                    placeholder="Seleziona tipo elemento" name="elementType" formControlName="elementType" required>
                </ng-select>
            </div>
            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-6">
                <span>Costo in euro</span>
                <input min="1" step="0.01" class="form-control" type="number" name="price" formControlName="price"
                    required>
            </div>

            <div class="form-group col-4">
                <span>Posizione X</span>
                <input readonly min="0" max="10" step="1" class="form-control" type="number" name="xPos"
                    formControlName="xPos" required>
            </div>
            <div class="form-group col-4">
                <span>Posizione Y</span>
                <input readonly min="0" max="10" step="1" class="form-control" type="number" name="yPos"
                    formControlName="yPos" required>
            </div>

            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-4">
                <span>Numero min. persone</span>
                <input min="0" max="10" step="1" class="form-control"
                    (change)="checkNumMinMaxPerson(2,formEditElementToMapContainer)" type="number"
                    name="n_min_num_person" formControlName="n_min_num_person" required>
            </div>
            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-4">
                <span>Numero max. persone</span>
                <input min="0" max="10" step="1" class="form-control"
                    (change)="checkNumMinMaxPerson(2,formEditElementToMapContainer)" type="number"
                    name="n_max_num_person" formControlName="n_max_num_person" required>
            </div>
            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-4">
                <span>Colore elemento</span>
                <input style="min-height:38px" class="form-control n_obj_map_fill" type="color" name="n_obj_map_fill"
                    formControlName="n_obj_map_fill">
            </div>
            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group col-12">
                <span>Nota (Informazioni aggiuntive)</span>
                <textarea class="form-control" name="t_note" rows="5" (resize)="false" formControlName="t_note"
                    style="resize: none;"></textarea>
            </div>
            <div *ngIf="formEditElementToMapContainer?.value?.elementType != 'CONSOLE' " class="form-group">
                <span>Acquistabile? </span>
                <input type="checkbox" name="is_acquistabile" formControlName="is_acquistabile">
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary btn-sm"
                    (click)="deleteElement(formEditElementToMapContainer)">Elimina</button>
                <button class="btn btn-danger btn-sm" type="submit"
                    [disabled]="!formEditElementToMapContainer.valid">Modifica</button>
            </div>
        </form>
    </div>
</div>