<div class="container p-3">
    <div class="d-flex flex-column rounded content-step1-container p-3 shadow">
        <h1>Crea Contenuto</h1>
        <div *ngIf="step == 1">
            <div class="d-flex flex-row justify-content-center align-items-center gap-3 p-3">
                <div [ngClass]="selectedContentType === 'Event' ? 'active' : '' " class="p-5 col-6 rounded event-option-container pointer d-flex flex-column justify-content-center align-items-center" (click)="selectedContentType = 'Event'">
                    <svg [ngClass]="selectedContentType === 'Event' ? 'active' : '' " xmlns="http://www.w3.org/2000/svg" width="78" height="78" fill="currentColor"
                        class="bi bi-calendar-event" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                    </svg>
                    <div class="d-flex flex-row mt-3">
                        <input style="width: 22px; height: 22px;" [(ngModel)]="selectedContentType" type="radio" name="selectedContentType" value="Event">
                        <span style="font-size: 20px; margin-top: 1px;" class="mx-1">Evento</span>
                    </div>
                    <span style="text-align: justify;" class="text-secondary mt-3">Crea un nuovo evento e raggiungi il tuo pubblico velocemente, grazie agli strumenti messi a dispozione dalla piattaforma, come la scelta della mappa, il layout dei posti e il prezzo del biglietto.</span>
                </div>
                <div [ngClass]="selectedContentType === 'Topic' ? 'active' : '' " class="p-5 col-6 rounded topic-option-container pointer d-flex flex-column justify-content-center align-items-center" (click)="selectedContentType = 'Topic'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="78" height="78" fill="currentColor"
                        class="bi bi-chat-square-text" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path
                            d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                    </svg>
                    <div class="d-flex flex-row mt-3">
                        <input style="width: 22px; height: 22px;" [(ngModel)]="selectedContentType" type="radio" name="selectedContentType" value="Topic">
                        <span style="font-size: 20px; margin-top: 1px;" class="mx-1">Topic</span>
                    </div>
                    <span style="text-align: justify;" class="text-secondary mt-3">Crea un nuovo topic (argomento) e discuti con altre persone di tutti gli argomenti che ti interessano. I topic possono essere foto oppure video.</span>
                </div>
            </div>
        </div>
        <div *ngIf="step == 2 && selectedContentType === 'Event'">
            Evento
        </div>
        <div *ngIf="step == 2 && selectedContentType === 'Topic'">
            Topic
        </div>
        <div class="p-5 text-end">
            <button class="btn btn-danger" *ngIf="step == 1" (click)="incrementStep()">Avanti</button>
            <button class="btn btn-secondary" *ngIf="step == 2" (click)="decrementStep()">Indietro</button>
        </div>
        
    </div>
</div>