.event-option-container {
    background: var(--bs-gray-200);
    color: var(--bs-dark);
    min-height: 300px;
}

.topic-option-container {
    background: var(--bs-gray-200);
    color: var(--bs-dark);
    min-height: 300px;
}

.event-option-container .caption,
.topic-option-container .caption {
    text-align: justify;
    max-height: 140px;
    min-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .bg-dark-mode .event-option-container {
    background: var(--bs-gray-800);
    color: var(--bs-white);
}

::ng-deep .bg-dark-mode .topic-option-container {
    background: var(--bs-gray-800);
    color: var(--bs-white);
}

.content-container {
    background: var(--bs-light);
    height: calc(100vh - 120px);
}

.upload-esit-container {
    background: var(--bs-light);
}

::ng-deep .bg-dark-mode .content-container,
::ng-deep .bg-dark-mode .upload-esit-container {
    background: var(--bs-dark);
}

::ng-deep .content-container input[type="radio"] {
    accent-color: #d32e2a !important;
}

.active {
    color: #d32e2a !important;
}

.file-upload {
    border: 2px dashed rgb(163 163 163 / 52%);
}

.file-upload.activedrag {
    border-color: #d32e2a !important;
}

.activedrag svg {
    color: #d32e2a !important;
}

#privacy {
    min-width: 120px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background: var(--bs-gray-200);
}

::ng-deep .bg-dark-mode #privacy {
    background: #343a40 !important;
    color: white;
}

.no-resize {
    resize: none;
}

.upload-esit-container textarea {
    background-color: var(--bs-gray-200);
    color: var(--bs-dark);
}

.bottom-textarea-container, .suggestContainer {
    background-color: var(--bs-gray-200) !important;
    color: var(--bs-dark);
    padding-bottom: 7px;
}

::ng-deep .bg-dark-mode .upload-esit-container textarea,
::ng-deep .bg-dark-mode .bottom-textarea-container,
::ng-deep .bg-dark-mode .suggestContainer
{
    background-color: var(--bs-gray-800) !important;
    color: white !important;
}

.edit-cover-container {
    padding: 20px;
    padding-bottom: 35px;
    padding-top: 35px;
    background: rgb(167 167 167);
    color: white;
}

::ng-deep .bg-dark-mode .edit-cover-container {
    padding: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    background: #343a40eb;
    color: white;
}

/* MODALE */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button {
    padding: 10px 20px;
    margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

::ng-deep .bg-dark-mode .modal-content {
    background: var(--bs-dark);
    color: var(--bs-white)
}

::ng-deep .bg-dark-mode .form-group input, ::ng-deep .bg-dark-mode .form-group textarea{
    background: var(--bs-dark);
    color: var(--bs-gray-200);
}


::ng-deep .bg-dark-mode .form-group input:disabled, ::ng-deep .bg-dark-mode .form-group input:not(.n_obj_map_fill):read-only{
    background: var(--bs-gray-800);
    cursor: not-allowed;
}

/* Sovrascrivi lo stile di default di ng-select */
::ng-deep .bg-dark-mode .ng-select {
    background-color: transparent !important;
}

::ng-deep .bg-dark-mode .ng-select .ng-select-container .ng-value-container .ng-input>input{
    color: white !important
}

::ng-deep .bg-dark-mode .ng-select-container {
    background-color: transparent !important;
    background: transparent !important;
    color: white !important;
}

::ng-deep input[type="radio"], ::ng-deep input[type="checkbox"]  {
    accent-color:#d32e2a !important;
    cursor: pointer!important;
}

::ng-deep .bg-dark-mode .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: rgb(37, 37, 37) !important;
    color: white;
    border-radius: 0px;
}

::ng-deep .bg-dark-mode .ng-option-label {
    color: rgb(179, 179, 179) !important;
}

::ng-deep .bg-dark-mode .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: #505355 !important;
}

/* Opzionale: Imposta il background dell'opzione selezionata */
::ng-deep .bg-dark-mode .ng-option-marked {
    background-color: rgba(0, 0, 0, 0.1) !important;
    /* Cambia il colore di sfondo selezionato */
}

.form-control:focus {
    box-shadow: 0.1rem 0 0.1rem 0.1rem #d32e2a !important; 
    border-color: #d32e2a !important;
    border-right: 0px !important;
}

/* Global scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Imposta la larghezza desiderata della scrollbar */
}

/* Stili per la scrollbar thumb */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4d5155;
}

/* Stili per la scrollbar track */
::-webkit-scrollbar-track {
    visibility: hidden;
}

::ng-deep .bg-light-mode .event-plan-list-container::-webkit-scrollbar-thumb {
    background-color: #a8a8a8 !important;
}

#t_event_date{
    background-color: #e9ecef;
}

::ng-deep .bg-dark-mode #t_event_date, ::ng-deep .bg-dark-mode .bs-datepicker {
    background: #343a40 !important;
    color: white !important;
}

::ng-deep .bg-dark-mode #t_event_date::placeholder{
    color: white !important;
}

.location input{
    background: #e9ecef;
}

::ng-deep .bg-dark-mode .location input, ::ng-deep .bg-dark-mode .location input::placeholder{
    background: #343a40 !important;
    color:white !important;
}