<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="firstName" class="form-label">Nome</label>
        <input type="text" class="form-control address-input border-0" id="firstName" formControlName="firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Cognome</label>
        <input type="text" class="form-control address-input border-0" id="lastName" formControlName="lastName">
    </div>
    <div class="mb-3">
        <label for="street" class="form-label">Indirizzo</label>
        <input type="text" class="form-control address-input border-0" id="street" formControlName="street">
    </div>
    <div class="mb-3">
        <label for="city" class="form-label">Città</label>
        <input type="text" class="form-control address-input border-0" id="city" formControlName="city">
    </div>
    <div class="mb-3">
        <label for="state" class="form-label">Stato</label>
        <input type="text" class="form-control address-input border-0" id="state" formControlName="state">
    </div>
    <div class="mb-3">
        <label for="zip" class="form-label">CAP</label>
        <input type="text" class="form-control address-input border-0" id="zip" formControlName="zip">
    </div>
    <button type="submit" class="btn btn-color-no-hover text-white" [disabled]="!addressForm.valid">Salva indirizzo</button>
</form>