<form [formGroup]="form" *ngIf="form" class="row d-block m-0 p-0">

    <!-- <div class="mb-3" *ngIf="(form.controls['t_username']?.touched && !form.controls['t_username']?.valid) || 
        (form.controls['t_password']?.touched && !form.controls['t_password']?.valid)">
        <span *ngIf="form.controls['t_username']?.touched && !form.controls['t_username']?.valid">
            <small class="text-danger"
                *ngFor="let error of form.controls['t_username']['errorMessages']">{{error}}</small>
        </span><br *ngIf="form.controls['t_username']?.touched && !form.controls['t_username']?.valid">
        <span *ngIf="form.controls['t_password']?.touched && !form.controls['t_password']?.valid">
            <small class="text-danger"
                *ngFor="let error of form.controls['t_password']['errorMessages']">{{error}}</small>
        </span>
    </div> -->


    <div class="input-group form-group mb-3">
        <span [ngClass]="dynamicClass['t_username']" class="input-group-text input-w-icon"><i
                class="gg-user"></i></span>
        <input formControlName="t_username" id="t_username" type="text" class="form-control" placeholder="username"
            name="username" (focus)="addFocusClass('t_username')" (focusout)="removeFocusClass('t_username')">
    </div>

    <div class="input-group mb-3">
        <span [ngClass]="dynamicClass['t_password']" class="input-group-text input-w-icon"><i class="gg-key"></i></span>
        <input formControlName="t_password" id="t_password" type="password" autocomplete="current-password"
            class="form-control" name="password" placeholder="password" (focus)="addFocusClass('t_password')"
            (focusout)="removeFocusClass('t_password')">
    </div>


    <div class="d-flex align-items-center justify-content-between remember p-0 mb-3">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <input style="accent-color: #d32e2a !important;" formControlName=t_remember_username id="t_remember_username" type="checkbox">
            <label style="margin-top: 1px;">Ricorda username</label>
        </div>
        <div>
            <a style="margin-top: 1px;" class="forgotPw mx-3" href="/forgot-password">Password Dimenticata</a>
        </div>
    </div>
    <div class="form-group">
        <button (click)="login()" class="btn float-right login_btn">Accedi</button>
    </div>
</form>