<div class="container p-3">
    <div style="min-height: calc(100vh - 120px);" class="rounded data-processing-container p-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <header>
                <h1>Trattamento dei Cookie</h1>
            </header>
            <section>
                <p class="text-secondary">Ultimo aggiornamento: 1 gennaio 2024</p>
                <p class="text-secondary">Questo documento descrive come utilizziamo i cookie sul nostro sito web e sulle nostre applicazioni mobili. Utilizzando i nostri servizi, acconsenti all'uso dei cookie in conformità con questa politica.</p>
                <h2>Cosa sono i cookie?</h2>
                <p class="text-secondary">I cookie sono piccoli file di testo che vengono salvati sul tuo dispositivo quando visiti un sito web. Essi permettono al sito di riconoscere il tuo dispositivo e di ricordare le tue preferenze.</p>
                <h2>Tipi di cookie che utilizziamo</h2>
                <ul class="text-secondary">
                    <li><b>Cookie essenziali:</b> Questi cookie sono necessari per il funzionamento del nostro sito web. Senza di essi, alcune parti del sito potrebbero non funzionare correttamente.</li>
                    <li><b>Cookie di prestazione:</b> Questi cookie raccolgono informazioni su come utilizzi il nostro sito, permettendoci di migliorare le sue prestazioni e la tua esperienza di navigazione.</li>
                    <li><b>Cookie funzionali:</b> Questi cookie permettono al sito di ricordare le tue scelte (come il tuo nome utente o la lingua) e forniscono funzionalità migliorate e personalizzate.</li>
                    <li><b>Cookie di targeting:</b> Questi cookie sono utilizzati per fornire pubblicità più rilevante per te e per i tuoi interessi. Vengono anche utilizzati per limitare il numero di volte in cui visualizzi un annuncio e per misurare l'efficacia delle campagne pubblicitarie.</li>
                </ul>
                <h2>Gestione dei cookie</h2>
                <p class="text-secondary">Puoi gestire le tue preferenze sui cookie attraverso le impostazioni del tuo browser. Puoi scegliere di bloccare o eliminare i cookie, ma tieni presente che alcune funzionalità del nostro sito potrebbero non funzionare correttamente.</p>
                <h2>Modifiche alla Politica sui Cookie</h2>
                <p class="text-secondary">Possiamo aggiornare questa politica sui cookie di tanto in tanto. Ti informeremo delle modifiche sostanziali pubblicando un avviso sul nostro sito web.</p>
                <h2>Contattaci</h2>
                <p class="text-secondary">Se hai domande sulla nostra politica sui cookie, contattaci all'indirizzo privacy@unievent.com.</p>
            </section>
        </div>
    </div>
</div>