@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css?family=Numans');
@import 'ngx-toastr/toastr';
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./assets/css/gg.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

.w3-text-white {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-family: "Segoe UI", Arial, sans-serif;
}

.w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.form-search:focus {
    box-shadow: none !important;
    border-color: #d32e2a !important;
    border: 3px solid #d32e2a !important;
    border-left: 0px !important;
}

.form-newsletter:focus {
    box-shadow: none !important;
    border-color: #d32e2a !important;
    border: 3px solid #d32e2a !important;
}

.form-select:focus {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.float-right {
    float: right !important;
}

.input-w-icon {
    background-color: #d32e2a !important;
    color: white !important;
    width: 50px;
    text-align: center;
    justify-content: center;
}

.explode-span {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.explode-icon-search {
    border: 3px solid #d32e2a !important;
    border-right: 0px !important;
}

.border-search-left {
    border-left: 2px solid #a8aaac;
}

.btn-color,
.btn-color:active {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

.btn-color:hover {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}

.btn-color-hover-border,
.btn-color-hover-border:active {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

.btn-color-hover-border:hover {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
    border: 1px solid rgb(206, 206, 206) !important;
}

.btn-color-no-hover {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.col-only-text {
    display: flex;
    align-items: center;
    margin-top: 15px !important;
}

.ng-select.ng-select-opened .ng-select-container {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

@media (min-width: 1200px) {
    .col-sm-2_5 {
        width: 22.5% !important;
    }

    .col-sm-1_5 {
        width: 10.5% !important;
    }

    .mx-8 {
        margin-right: 8rem !important;
        margin-left: 8rem !important;
    }

    .px-xl-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}

.px-xl-0-1 {
    margin-right: 5px;
}

@media(max-width:700px) {
    .h1-mobile {
        font-size: 1.25rem !important;
    }

    .h3-mobile {
        font-size: 1rem !important;
    }

    .h6-mobile {
        font-size: 0.8rem !important;
    }
}

.text-event-color-primary {
    color: #d32e2a;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.photo-gradient {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#00000078, rgb(0 0 0));
}

.card-featured {
    max-height: 230px;
    min-height: 230px;
    object-fit: cover;
    object-position: top;
}

.text-limit-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limita il numero di righe a 3 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-limit-3::after {
    content: "...";
    /* Aggiungi i puntini finali */
    display: inline-block;
}

.text-card-fixed{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita il numero di righe a 3 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';