@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css?family=Numans');
@import 'ngx-toastr/toastr';
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./assets/css/gg.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'bootstrap/scss/bootstrap';

*:focus {
    outline: none;
    box-shadow: none !important;
}

html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.w3-text-white {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-family: "Segoe UI", Arial, sans-serif;
}

.float-right {
    float: right !important;
}

.explode-span {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.btn-color,
.btn-color:active {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

.btn-color:hover {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}

.btn-color-hover-border,
.btn-color-hover-border:active {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

.btn-color-hover-border:hover {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
    border: 1px solid rgb(206, 206, 206) !important;
}

.btn-color-dark-mode {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: #d32e2a !important;
    font-weight: 500;
}

.btn-color-dark-mode:hover {
    background-color: #ff00001f !important;
    border-color: #d32e2a !important;
}

.btn-color-light-mode {
    color: #000;
    border-color: #ff0400 !important;
    color: #ff0400 !important;
    font-weight: 500;
}

.btn-color-light-mode:hover {
    background-color: #ff00001f !important;
    border-color: #ff0400 !important;
}

.btn-color-no-hover {
    background-color: #d32e2a !important;
    border-color: #d32e2a !important;
    color: white;
}

.btn-color-no-hover {
    background-color: #da423f !important;
    border-color: #da423f !important;
    color: white;
}

.col-only-text {
    display: flex;
    align-items: center;
    margin-top: 15px !important;
}

.ng-select.ng-select-opened .ng-select-container {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: 0 0 0 0.1rem #d32e2a !important;
    border-color: #d32e2a !important;
}

@media (min-width: 1200px) {
    .col-sm-2_5 {
        width: 22.5% !important;
    }

    .col-sm-1_5 {
        width: 10.5% !important;
    }

    .mx-8 {
        margin-right: 8rem !important;
        margin-left: 8rem !important;
    }

    .px-xl-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}

.px-xl-0-1 {
    margin-right: 5px;
}

@media(max-width:700px) {
    .h1-mobile {
        font-size: 1.25rem !important;
    }

    .h3-mobile {
        font-size: 1rem !important;
    }

    .h6-mobile {
        font-size: 0.8rem !important;
    }
}

.text-event-color-primary {
    color: #d32e2a;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.photo-gradient {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#00000078, rgb(0 0 0));
}

.card-featured {
    max-height: 230px;
    min-height: 230px;
    object-fit: cover;
    object-position: top;
}

.bg-dark-mode {
    background: rgb(18, 18, 18) !important;
}

.card-dark-mode {
    background: rgb(37, 37, 37);
}

.bgcolor-transparent {
    background-color: transparent !important;
    background: transparent !important;
}

.text-hover-white:hover {
    color: white !important;
}

.emoji {
    font-size: 1.6rem !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

/* Global scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Imposta la larghezza desiderata della scrollbar */
}

/* Stili per la scrollbar thumb */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #222324;
}

/* Stili per la scrollbar track */
::-webkit-scrollbar-track {
    visibility: hidden;
}

body.bg-light-mode::-webkit-scrollbar-thumb {
    background-color: #a8a8a8 !important;
}

.bg-primary-color{
    background-color:rgb(255 87 37);
}