<div [ngClass]="contentList.length > 0 ? '' : 'manage-page' "
    class="container align-items-center d-flex flex-row justify-content-center">
    <div class="p-4">
        <div *ngIf="contentList.length > 0" class="scrollable-content row row-cols-1">
            <h1>Gestione Contenuti</h1>
            <ng-container *ngFor="let item of contentList; let i = index;">
                <div class="shadow mb-4 p-3 events-card-container">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="card-body d-flex flex-row pointer" (click)="navigateToContentDetail(item)">
                            <span shape="circle" class="event-photo-container"><img class="event-photo"
                                    [attr.src]="item.t_image_link"></span>
                            <div class="d-flex flex-column mx-2">
                                <h3 class="m-0 mb-1"><b>{{ item.t_caption }}</b></h3>
                                <span class="mb-1">{{'Numero di commenti: '}}<b>{{item.numOfComment}}</b></span>
                                <span class="mb-1">{{'Numero di mi piace: '}}<b>{{item.numOfLike}}</b></span>
                                <span class="mb-1">{{'Numero di aggiunte ai preferiti: '}}<b>{{item.numOfBooked}}</b></span>
                                <span class="search-description mb-1">{{item.t_description}}</span>
                                <span *ngIf="item.t_type==='Eventi'" class="mb-1">Data evento: {{item.t_event_date
                                    |dateFormat:"DD-MM-YYYY"}}</span>
                                <span>Tipo: {{item.t_type === "Eventi" ? 'Evento':'Topic' }}</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <select [(ngModel)]="privacyContent[i]" (change)="changeEventPrivacy($event,item, i)"
                                class="pointer" name="privacy" id="privacy">
                                <option value="all">Tutti</option>
                                <option value="amici">Amici</option>
                                <!--Solo gli utenti che si followano tra di loro sono considerati amici-->
                                <option value="onlyu">Solo tu</option>
                            </select>
                            <span *ngIf="item.t_type=='Eventi'" (click)="openEventCouponModal($event, item, i)"
                                class="bg-secondary p-2 pointer"
                                style="height: fit-content;width: 150px;text-align: center;margin-top: 10px;">Gestisci
                                Coupon</span>
                            <span (click)="deleteContent($event, item, i)" class="bg-danger p-2 pointer"
                                style="height: fit-content;width: 150px;text-align: center;margin-top: 10px;">Elimina</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngIf="contentList.length === 0">
            <ng-container *ngTemplateOutlet="noresult"></ng-container>
        </div>
    </div>

    <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
</div>

<ng-template #noresult>
    <div class="container align-items-center d-flex flex-row justify-content-center">
        <div class="p-4">
            <h1 class="text-center">Gestione Contenuti</h1>
            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                <span style="font-size: 90px; height:90px">🙁</span>
                <h1>Nessun contenuto creato</h1>
            </div>
        </div>
    </div>
</ng-template>

<div *ngIf="showManageCouponPanel" class="modal-overlay" style="z-index:10;">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Gestisci coupon - {{currentCouponEvent.t_caption}}</h2>
            <span style="font-size:38px;" class="pointer" (click)="clearManageCoupon()"
                aria-hidden="true">&times;</span>
        </div>
        <div class="d-flex justify-content-end mb-4">
            <span (click)="openAddCoupon()" class="bg-secondary p-2 pointer" style="height: fit-content;width: 150px;text-align: center;margin-top: 10px;">Aggiungi Coupon</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center mb-3 p-3 rounded" style="background: #3a424b;" *ngFor="let coupon of couponList">
            <span>{{coupon.coupon_code}} - {{coupon.discount}}% di sconto</span>
            <div class="d-flex gap-2">
                <span class="bg-secondary p-2 pointer"
                style="height: fit-content;width: 150px;text-align: center;" (click)="openEditCoupon(coupon)">Modifica</span>
                <span (click)="deleteCoupon($event,coupon)" class="bg-danger p-2 pointer"
                style="height: fit-content;width: 150px;text-align: center;">Elimina</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showEditCoupon" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Modifica coupon - {{currentCouponEvent.t_caption}}</h2>
            <span style="font-size:38px;" class="pointer" (click)="closeEditCoupon()"
                aria-hidden="true">&times;</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center mb-3 p-3 rounded" style="background: #3a424b;">
            <form class="mb-5 w-100" [formGroup]="formCoupon" #formEditCoupon="ngForm" (ngSubmit)="updateCoupon(formEditCoupon)">
                <div class="form-group">
                    <span>Codice Coupon</span>
                    <input class="form-control" type="text" name="coupon_code"  formControlName="coupon_code" required>
                </div>
                <div class="form-group">
                    <label>Percentuale di sconto</label>
                    <input type="number" min="1" max="100" class="form-control" name="discount" formControlName="discount" required>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <button class="btn btn-secondary btn-sm" (click)="closeAddCoupon()">Annulla</button>
                    <button class="btn btn-danger btn-sm" type="submit" [disabled]="!formEditCoupon.valid">Aggiorna</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="showAddCoupon" class="modal-overlay" style="z-index:10">
    <div class="modal-content container p-3 m-3">
        <div class="d-flex justify-content-between border-bottom mb-3">
            <h2 class="mb-2">Aggiungi coupon - {{currentCouponEvent.t_caption}}</h2>
            <span style="font-size:38px;" class="pointer" (click)="closeAddCoupon()"
                aria-hidden="true">&times;</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center mb-3 p-3 rounded" style="background: #3a424b;">
            <form class="mb-5 w-100" [formGroup]="formCoupon" #formAddCoupon="ngForm" (ngSubmit)="addCoupon(formAddCoupon)">
                <div class="form-group">
                    <span>Codice Coupon</span>
                    <input class="form-control" type="text" name="coupon_code" formControlName="coupon_code" required>
                </div>
                <div class="form-group">
                    <label>Percentuale di sconto</label>
                    <input type="number" min="1" max="100" class="form-control" name="discount" formControlName="discount" required>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <button class="btn btn-secondary btn-sm" (click)="closeAddCoupon()">Annulla</button>
                    <button class="btn btn-danger btn-sm" type="submit" [disabled]="!formAddCoupon.valid">Aggiorna</button>
                </div>
            </form>
        </div>
    </div>
</div>